{% trans_default_domain 'front_default' %}

{% import _self as macro %}

{% set arrows = slider.control is defined and slider.control and medias|length > 1 %}

{% macro arrows(slider, sliderSlug, side, color, asBtn, position) %}
    {% set website = slider.website is defined ? slider.website : website() %}
    {% set configuration = website.configuration is defined ? website.configuration : false %}
    {% set accessibility = configuration.accessibilityStatus is defined ? configuration.accessibilityStatus : true %}
    {% set iconClasses = not asBtn ? 'text-'~color : '' %}
    {% set icon = asBtn ? 'chevron' : 'arrow' %}
    {% set btnClasses = asBtn ? 'btn-circle btn btn-'~color : '' %}
    <div class="controls d-inline-flex align-items-start justify-content-{{ side }} w-100 {% if 'top' == position %}mb-4{% else %}mt-3{% endif %}{% if 'end' == side %} {% endif %}{% if asBtn %} as-btn{% endif %}">
        <button class="carousel-control-prev position-relative cursor{% if btnClasses %} {{ btnClasses }}{% endif %} me-2"
                data-bs-slide="prev"
                data-bs-target="#carousel-{{ sliderSlug }}"
                aria-label="{{ "Précédent"|trans }}"
                tabindex="-1">
            <i class="icon-{{ icon }}-left{% if iconClasses %} {{ iconClasses }}{% endif %}"></i>
        </button>
        {% if slider.autoplay and accessibility %}
            <button class="carousel-control-pause position-relative cursor{% if btnClasses %} {{ btnClasses }}{% endif %} mx-1" aria-label="{{ "Pause"|trans }}" tabindex="-1">
                <i class="icon-pause{% if iconClasses %} {{ iconClasses }}{% endif %}"></i>
            </button>
            <button class="carousel-control-play position-relative d-none cursor{% if btnClasses %} {{ btnClasses }}{% endif %} mx-1" aria-label="{{ "Pause"|trans }}" tabindex="-1">
                <i class="icon-play{% if iconClasses %} {{ iconClasses }}{% endif %}"></i>
            </button>
        {% endif %}
        <button class="carousel-control-next position-relative cursor{% if btnClasses %} {{ btnClasses }}{% endif %} ms-2"
                data-bs-slide="next"
                data-bs-target="#carousel-{{ sliderSlug }}"
                aria-label="{{ "Suivant"|trans }}"
                tabindex="-1">
            <i class="icon-{{ icon }}-right{% if iconClasses %} {{ iconClasses }}{% endif %}"></i>
        </button>
    </div>
{% endmacro %}

<div id="carousel-{{ sliderSlug }}"
     class="carousel-{{ slider.slug }} carousel slide{% if slider.effect == 'fade' %} carousel-fade{% endif %}"
     data-bs-interval="{{ slider.intervalDuration }}"
     data-bs-autoplay="{{ slider.autoplay }}"
     data-bs-pause="{{ slider.pause ? 'hover' : 0 }}"
     data-component="carousel-bootstrap">
    {% if arrows and 'top' in slider.arrowAlignment %}
        {{ macro.arrows(slider, arrowsSide, arrowsColor, arrowsAsBtn, 'top') }}
    {% endif %}
    <div class="carousel-inner">
        {% set isFirst = true %}
        {% for media in medias %}
            {% set intlMedia = media.intl %}
            {% set pictogram = intlMedia.pictogram is defined ? intlMedia.pictogram : null %}
            {% set mediaTitleForce = intlMedia.titleForce is defined and intlMedia.titleForce ? intlMedia.titleForce : 2 %}
            {% set mediaTitle = intlMedia.title is defined and intlMedia.title|striptags|length > 0 ? intlMedia.title : null %}
            {% set mediaIntro = intlMedia.introduction is defined and intlMedia.introduction|striptags|length > 0 ? intlMedia.introduction : null %}
            {% set mediaBody = intlMedia.body is defined and intlMedia.body|striptags|length > 0 ? intlMedia.body : null %}
            {% set popup = slider.popup or media.popup %}
            {% set mediaClass = fileSizes.height is defined and medias|length > 1 ? 'force-size' : 'w-100' %}
            {% set mediaType = (media.media.screen is defined and media.media.screen == 'poster')
                or (media.intl.video is defined and media.intl.video) ? 'video' : 'image' %}
            {% set haveContent = mediaTitle or mediaIntro or mediaBody %}
            {% set haveText = mediaIntro or mediaBody %}
            {% set display = (mediaType == 'video' and media.videoLink is not empty) or (media.media.filename is defined and media.media.filename) %}
            {% if display %}
                <div class="carousel-item{% if isFirst %} active{% endif %}">
                    {% if mediaType == 'video' %}
                        {% include 'front/'~websiteTemplate~'/blocks/video/default.html.twig' with {
                            block: media,
                            thumbConfiguration: thumbConfiguration,
                            disableTitle: true,
                            intlMedia: media} only %}
                    {% else %}
                        {{ media|file(thumbConfiguration, {
                            btnLink: true,
                            isInBox: false,
                            popupGallery: popup,
                            fullPopup: popup,
                            placeholder: true,
                            maxWidth: fileSizes.width is defined ? fileSizes.width : null,
                            maxHeight: fileSizes.height is defined ? fileSizes.height : null,
                            colSize: colSize,
                            lazyLoad: not isFirstZone or (isFirstZone and not loop.first),
                            priority: not isFirstZone or (isFirstZone and not loop.first) ? 'low': 'high',
                            class: mediaClass }) }}
                    {% endif %}
                    {% if haveContent or displayIndicators or displayArrows %}
                        <div class="carousel-caption text-start position-relative bg-transparent border-0 p-0">
                            {% if arrows and 'top' in slider.arrowAlignment %}
                                {{ macro.arrows(slider, sliderSlug, arrowsSide, arrowsColor, arrowsAsBtn, 'top') }}
                            {% endif %}
                            {% if haveContent %}
                                <div class="content flex-shrink-0">
                                    {% if mediaTitle %}
                                        <h{{ mediaTitleForce }} class="caption-title mt-3 mb-0">{{ mediaTitle|unescape|raw }}</h{{ mediaTitleForce }}>
                                    {% endif %}
                                    {% if mediaIntro %}
                                        <p class="introduction text-bold{% if mediaTitle %} mt-3{% endif %}">{{ mediaIntro|unescape|raw|nl2br }}</p>
                                    {% endif %}
                                    {% if mediaBody %}
                                        <div class="body{% if mediaTitle or mediaIntro %} mt-3{% endif %}">{{ mediaBody|unescape|raw|nl2br }}</div>
                                    {% endif %}
                                    <div class="mt-4">
                                        {% include 'front/'~websiteTemplate~'/blocks/link/default.html.twig' with {intl: intlMedia} only %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if arrows and 'bottom' in slider.arrowAlignment %}
                                {{ macro.arrows(slider, sliderSlug, arrowsSide, arrowsColor, arrowsAsBtn, 'bottom') }}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% set isFirst = false %}
            {% endif %}
        {% endfor %}
    </div>
    {% if displayIndicators %}
        <ul class="carousel-indicators reset position-relative ms-0 me-0 mb-0 mt-4 justify-content-start">
            {% set isFirst = true %}
            {% for media in medias %}
                {% if media.media.filename is defined and media.media.filename %}
                    <li data-bs-target="#carousel-{{ sliderSlug }}"
                        data-bs-slide-to="{{ loop.index - 1 }}"
                        data-index="{{ loop.index }}"
                        class="position-relative {% if isFirst and loop.first %}active{% endif %}">
                        {% if slider.progress %}
                            <span class="position-absolute loader left"></span>
                        {% endif %}
                    </li>
                    {% set isFirst = false %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>