{% extends "security/base.html.twig" %}

{% trans_default_domain 'security_cms' %}

{% block title %}{{ "Connexion"|trans|htmlEntities }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {
        novalidate: "novalidate",
        method: "POST",
        class: 'form-horizontal form-material security',
        action: path('security_login'),
        id: "login-form",
    }}) }}
        <div class="form-data" data-id="{{ securityKey }}" data-website="{{ websiteId() }}"></div>
        {% for field in form.children %}
            {% if field.vars.name == '_remember_me' %}
                <div class="row mb-4">
                    <div class="col-sm-6 text-center text-sm-start">
            {% endif %}
                {{ form_row(form[field.vars.name]) }}
            {% if field.vars.name == '_remember_me' %}
                    </div>
                    <div class="col-sm-6 text-center text-sm-end">
                        <a href="{{ path("security_password_request", {_locale: app.request.locale}) }}" id="to-recover" class="text-dark" data-toggle="preloader">
                            <small class="text-italic">{{ 'Mot de passe oublié ?'|trans|raw }}</small>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if error %}
            {% include 'security/includes/alert.html.twig' with {alert: 'danger', message: error.messageKey|trans(error.messageData, 'security')|raw} only %}
        {% endif %}
        {% include "security/includes/flashbag.html.twig" %}
        {% if website.entity.security.adminRegistration %}
            <a href="{{ path('security_register') }}"
               class="btn btn-lg btn-outline-info btn-block text-uppercase w-100 mt-3">
                {{ 'Inscrivez-vous'|trans|raw }}
            </a>
        {% endif %}
    {{ form_end(form) }}
{% endblock %}
