{% extends 'security/base.html.twig' %}

{% trans_default_domain 'security_cms' %}

{% block title %}{{ 'Réinintailisation du mot de passe'|trans|htmlEntities }}{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {id: "password-confirm-form", class: "form-horizontal form-material security", novalidate: "novalidate"}}) }}
        <div class="row">
            {{ form_row(form.plainPassword) }}
            {{ form_errors(form) }}
            {% include "core/password-checker.html.twig" %}
            <small class="form-group col-12 form-text text-muted mt-0 mb-3">
                {{ "Le mot de passe doit comporter au moins 8 caractères, contenir au moins un chiffre, une majuscule et une minuscule."|trans|raw }}
            </small>
            {% include "security/includes/recaptcha-fields.html.twig" %}
        </div>
        {{ form_rest(form) }}
        {% include "security/includes/flashbag.html.twig" %}
        <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
                <button id="submit" name="submit" class="btn btn-info btn-lg btn-block text-uppercase w-100" type="submit">{{ 'Enregistrer'|trans|raw }}</button>
                <a href="{{ path("security_login", {_locale: app.request.locale}) }}" class="text-dark d-inline-block mt-2" data-toggle="preloader">
                    {{ 'fas reply'|icon(null, 17, 'dark me-2') }}{{ 'Retourner à la page de connexion'|trans|raw }}
                </a>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}