{% extends "security/base.html.twig" %}

{% trans_default_domain 'security_cms' %}

{% block title %}{{ 'Réinitialisation de mot de passe'|trans|htmlEntities }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {id: "password-request-form", class: "form-horizontal form-material security", novalidate: "novalidate"}}) }}
        <p>{{ "Saisissez votre adresse e-mail pour recevoir un lien de réinitialisation de mot de passe."|trans|raw }}</p>
        <div class="row mb-3">
            {{ form_row(form.email) }}
            {% include "security/includes/recaptcha-fields.html.twig" %}
        </div>
        {% include "security/includes/flashbag.html.twig" %}
        <div class="form-group text-center">
            <button id="submit" name="submit" class="btn btn-info btn-lg btn-block text-uppercase w-100" type="submit">{{ 'Envoyer'|trans|raw }}</button>
            <a href="{{ path("security_login", {_locale: app.request.locale}) }}" class="text-dark d-inline-block mt-2" data-toggle="preloader">
                {{ 'fas reply'|icon(null, 17, 'dark me-2') }}{{ 'Retourner à la page de connexion'|trans|raw }}
            </a>
        </div>
    {{ form_end(form) }}
{% endblock %}
