{% extends 'front/'~website.configuration.template~'/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% block metaTitle %}{{ "Erreur"|trans|htmlEntities }}{% endblock %}
{% block metaRobots %}noindex{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front-'~websiteTemplate~'-security', null, webpack) }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('front-'~websiteTemplate~'-security', null, webpack, {defer: true}) }}
{% endblock %}

{% block body %}
    {% include 'front/'~websiteTemplate~'/blocks/title-header/default.html.twig' with {
        title: "Erreur"|trans,
        thumbConfiguration: thumbConfigurationHeader
    } %}
    <div class="row d-flex mt-5 mb-5">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body p-4 text-center">
                    {{ 'fal exclamation-triangle'|icon(null, 45, 'danger mb-4') }}
                    <p class="mb-0">{{ message|raw }}</p>
                    <a href="{{ path('security_front_login') }}" class="btn btn-primary w-100 mt-4" data-toggle="preloader">
                        {{ 'Retourner à la page de connexion'|trans|raw }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}