{% extends 'front/'~website.configuration.template~'/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% block metaTitle %}{{ "Mot de passe oublié ?"|trans|htmlEntities }}{% endblock %}
{% block metaRobots %}noindex{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front-'~websiteTemplate~'-security', null, webpack) }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('front-'~websiteTemplate~'-security', null, webpack, {defer: true}) }}
{% endblock %}

{% block body %}
    <div class="row d-flex py-5">
        <div class="col-md-4 mx-auto recaptcha-referer">
            <div class="card">
                <div class="card-body form-ajax-container text-center p-4 py-md-5">
                    {% if sendMail %}
                        <i class="icon-mailbox text-primary size-xl-icon mb-4 d-inline-block"></i>
                        <p class="mb-0">{{ "Un e-mail avec un lien de réinitialisation vous a été adressé. N’hésitez pas à vérifier vos spams si vous ne le voyez pas. Le lien restera actif durant 24 heures"|trans|raw }}</p>
                    {% else %}
                        {{ 'fal exclamation-triangle'|icon(null, 45, 'warning mb-4') }}
                        <p class="mb-0 text-primary">{{ "Vous avez déjà fait une demande il y à moins de 24 heures."|trans|raw }}</p>
                    {% endif %}
                    <a href="{{ path('front_index') }}" class="btn btn-primary d-inline-flex mt-5 preloader">{{ 'Visiter le site'|trans|raw }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}