{% extends 'front/'~website.configuration.template~'/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% block metaTitle %}{{ "Réinitialisation de mot de passe"|trans|htmlEntities }}{% endblock %}
{% block metaRobots %}noindex{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front-'~websiteTemplate~'-security', null, webpack) }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('front-'~websiteTemplate~'-security', null, webpack, {defer: true}) }}
{% endblock %}

{% block body %}
    {% include 'front/'~websiteTemplate~'/blocks/title-header/default.html.twig' with {
        pageTitle: "Mot de passe oublié ?"|trans|raw,
        thumbConfiguration: thumbConfigurationHeader
    } %}
    <div class="container-fluid">
        <div class="row d-flex py-5">
            <div class="col-lg-4 col-xl-3 mx-auto recaptcha-referer">
                <div class="card form-container small-radius shadow">
                    <div class="card-body form-ajax-container position-relative p-4 p-md-5{% if (formRequest.valid is defined and formRequest.valid) or (formRequest.valid is defined and user.tokenRequest is defined and user.tokenRequest) %} text-center form-valid{% endif %}">
                        {% include 'front/'~websiteTemplate~'/include/loader.html.twig' only %}
                        {{ form_start(form, {attr: {
                            id: "password-request-form",
                            novalidate: "novalidate",
                            action: app.request.uri,
                            class: "security form-ajax" }}) }}
                        {% set displayForm = true %}
                        {% if formRequest.valid is defined and formRequest.valid %}
                            <i class="icon-mailbox text-primary size-xl-icon mb-4 d-inline-block"></i>
                            <p class="mb-2">{{ "Un e-mail avec un lien de réinitialisation vous a été adressé. N’hésitez pas à vérifier vos spams si vous ne le voyez pas. Le lien restera actif durant 24 heures."|trans|raw }}</p>
                            {% set displayForm = false %}
                        {% elseif formRequest.valid is defined and user.tokenRequest is defined and user.tokenRequest %}
                            <i class="icon-exclamation-triangle text-warning size-xl-icon mb-4 d-inline-block"></i>
                            <p class="mb-2">{{ "Une demande a déjà été faite il y a moins de 24 heures.<br> Pensez à consulter vos spams si vous ne le trouvez pas."|trans|raw }}</p>
                            <p class="mb-0">{{ "Si besoin, cliquez ci-dessous pour recevoir un nouveau lien :"|trans|raw }}</p>
                            <a href="{{ path('security_front_password_request_email', {token: user.tokenRequest|url_encode}) }}" class="btn btn-primary mt-4">{{ "Renvoyer"|trans|raw }}</a>
                            {% set displayForm = false %}
                        {% endif %}
                        <div class="form-content{% if not displayForm %} d-none{% endif %}">
                            <h3 class="title text-uppercase mb-4 fw-500">{{ "Vous avez oublié votre mot de passe"|trans }}</h3>
                            <p>{{ "Saisissez votre adresse e-mail pour recevoir un lien de réinitialisation de mot de passe."|trans|raw }}</p>
                            <div class="row">{{ form_row(form.email) }}</div>
                            {% include "security/includes/recaptcha-fields.html.twig" %}
                            {% include "front/"~websiteTemplate~"/include/flashbag.html.twig" %}
                            <div class="form-group text-center">
                                <button id="submit" name="submit" type="submit" class="btn btn-primary text-uppercase w-100">{{ 'Envoyer'|trans|raw }}</button>
                            </div>
                        </div>
                        <div class="w-100 mt-3 text-center">
                            <div class="w-100 mt-3 text-center">
                                {% if app.user|isUserFront %}
                                    <a href="{{ path("security_front_dashboard", {_locale: app.request.locale}) }}" class="text-dark" data-toggle="preloader">
                                        <small>{{ 'Accéder au tableau de bord'|trans|raw }}</small>
                                    </a>
                                {% else %}
                                    <a href="{{ path("security_front_login", {_locale: app.request.locale}) }}" class="text-dark" data-toggle="preloader">
                                        <small>{{ 'Retourner à la page de connexion'|trans|raw }}</small>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}