{% extends 'front/'~website.configuration.template~'/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% block metaTitle %}{{ "Réinitialisation de mot de passe"|trans|htmlEntities }}{% endblock %}
{% block metaRobots %}noindex{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front-'~websiteTemplate~'-security', null, webpack) }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('front-'~websiteTemplate~'-security', null, webpack, {defer: true}) }}
{% endblock %}

{% block body %}
    <div class="row d-flex py-5">
        <div class="col-md-4 mx-auto recaptcha-referer">
            <div class="card form-container small-radius shadow">
                <div class="card-body form-ajax-container p-4 p-md-5{% if valid %} text-center form-valid{% endif %}">
                    {% include 'front/'~websiteTemplate~'/include/loader.html.twig' only %}
                    {{ form_start(form, {attr: {
                        id: "password-confirm-form",
                        novalidate: "novalidate",
                        action: app.request.uri,
                        class: "security form-ajax" }}) }}
                        {% set displayForm = true %}
                        {% if valid %}
                            <i class="icon-check-circle text-success size-xl-icon mb-3 d-inline-block"></i>
                            <p class="mb-2">{{ "Votre mot de passe a été modifié avec succès."|trans|raw }}</p>
                            <div class="w-100 mt-4">
                                <a href="{{ path('security_front_login') }}" class="btn btn-primary d-inline-flex justify-content-center" data-toggle="preloader">
                                    {{ 'Se connecter'|trans|raw }}
                                </a>
                            </div>
                            {% set displayForm = false %}
                        {% endif %}
                        <div class="form-content{% if not displayForm %} d-none{% endif %}">
                            <h3 class="title text-uppercase mb-4 fw-500">{{ "Réinitialiser votre mot de passe"|trans }}</h3>
                            <div class="row">
                                {{ form_row(form.plainPassword) }}
                            </div>
                            {{ form_rest(form) }}
                            {{ form_errors(form) }}
                            {% include "core/password-checker.html.twig" %}
                            {% include "security/includes/recaptcha-fields.html.twig" %}
                            {% include "front/"~websiteTemplate~"/include/flashbag.html.twig" %}
                            <div class="form-group text-center">
                                <button id="submit" name="submit" type="submit" class="btn btn-primary text-uppercase w-100 d-flex justify-content-center" data-toggle="preloader">{{ 'Enregistrer'|trans }}</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}