{% trans_default_domain 'admin' %}

{% set website = website() %}
{% set configuration = website.configuration %}
{% set tooHeavyFiles = masterRequest().get('too_heavy_files') %}
{% set asCopy = asCopy is defined ? asCopy : false %}

<div id="medias-results">

    <h4 class="card-subtitle mb-2">
        {{ 'fal folder'|icon(null, 14, 'info-darken me-2') }}
        {% if folder.adminName is defined and folder.adminName %}
            {{ folder.adminName }}
        {% else %}
            {{ "Racine"|trans }}
        {% endif %}
    </h4>

    <div class="w-100 text-center d-flex flex-wrap justify-content-center">
        <div id="medias-results-container" class="w-100 text-center d-flex flex-wrap justify-content-center">
            {% set excludesExtensions = ['ico', 'svg', 'gif'] %}
            {% set excludesScreens = ['tablet', 'mobile'] %}
            {% for media in medias %}
                {% set extension = media.extension %}
                {% set haveThumb = extension not in excludesExtensions %}
                {% set uploadDirname = asset('uploads/'~media.website.uploadDirname~'/'~media.filename) %}
                {% set tooHeavyFile = tooHeavyFiles and tooHeavyFilesSizes[media.filename] is defined %}
                {% if media.filename and media.screen == ('desktop' or 'poster' or 'webm' or 'vtt' or 'mp4') and media.website.id == websiteId() and media.screen not in excludesScreens %}
                    {% set extension = extension ? extension : media.filename|split('.')|last %}
                    {% set icon = 'admin'|fileIcon(extension) %}
                    {% set icon = extension == 'svg' or extension == 'webp' ? null : icon %}
                    <div class="file d-inline-block {{ extension }}-extension{% if tooHeavyFile %} too-heavy-file{% endif %}" data-id="{{ media.id }}" data-original-src="{{ uploadDirname }}">
                        <label for="check-pack-media-{{ media.id }}" class="mb-0 check-pack-media-label h-100 w-100">
                            <div class="file-data-wrap h-100" data-bs-toggle="tooltip" title="{{ media.filename }}">
                                <div class="file-data media-selector h-100">
                                    <div class="spinner-parent h-100">
                                        <div class="inner h-100">
                                            <div class="wrap">
                                                {% if icon %}
                                                    {{ icon|icon(null, 40, 'dark-50') }}
                                                {% else %}
                                                    {{ media|file({}, {width: 76, height: 76}) }}
                                                {% endif %}
                                            </div>
                                            {% if not asCopy %}
                                                <div class="loader-media d-none">{{ 'fad circle-notch'|icon(20, 20, 'fa-spin') }}</div>
                                                <div class="check-media d-none">{{ 'fad check'|icon(null, 20) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                        {% if not asCopy %}
                            <div class="btn check-pack-media-btn cursor d-none">
                                <input id="check-pack-media-{{ media.id }}"
                                       name="check-pack-media-{{ media.id }}"
                                       class="check-pack-media d-none"
                                       type="checkbox" />
                            </div>
                        {% else %}
                            {% set info = website()|fileInfo(media.filename) %}
                            <small class="refer-copy refer-copy-wrap">
                                <span class="to-copy d-none">{{ app.request.getSchemeAndHttpHost()~info.path }}</span>
                                <span class="copy-link cursor d-inline-block w-100 h-100 d-flex align-items-center justify-content-center"
                                      data-bs-toggle="tooltip" title="{{ "Copier l'URL"|trans }}">
                                    {{ 'fal copy'|icon(null, 30, 'white') }}
                                </span>
                            </small>
                        {% endif %}
                        {% if 'edit'|moduleActive(configuration) and not asCopy %}
                            {% if not icon %}
                                <a href="{{ path('admin_media_crop', {website: website.id, media: media.id}) }}"
                                   class="open-media-crop btn btn-info" data-bs-toggle="tooltip" title="{{ "Redimensionner"|trans|striptags }}">
                                    {{ 'far crop-alt'|icon(12, 12, 'white') }}
                                </a>
                            {% endif %}
                            <a href="{{ path('admin_media_edit', {website: websiteId(), media: media.id}) }}"
                               class="open-media-edit btn btn-info" data-bs-toggle="tooltip" title="{{ "Éditer"|trans|striptags }}">
                                {{ 'fas pencil-alt'|icon(10, 10, 'white') }}
                            </a>
                            {% if granted('ROLE_MEDIA_COMPRESS') %}
                                <a href="{{ path('admin_media_compress_restore', {website: website.id, media: media.id}) }}"
                                   class="media-compress-restore btn btn-info{% if not media.compress %} d-none{% endif %}" data-bs-toggle="tooltip" title="{{ "Rétablir l'image d'origine"|trans|striptags }}">
                                    {{ 'far sync'|icon(12, 12, 'white') }}
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if tooHeavyFile %}
                            <span class="vertical-align"><small class="too-heavy-badge bg-danger px-2 text-white fw-300">{{ tooHeavyFilesSizes[media.filename]|formatBytes }}</small></span>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                <div class="mt-3 d-inline-flex w-100">
                    {% include 'admin/include/alert.html.twig' with {display: 'alert', alert: 'info', class: 'w-100', message: "Aucun média."|trans} only %}
                </div>
            {% endfor %}
        </div>

        <div id="medias-pagination">
            {% if medias.items|length < medias.getTotalItemCount %}
                <div class="d-flex flex-column text-center justify-content-center my-4">
                    <span class="show-more link cursor text-info text-underline">{{ "Voir plus"|trans|raw }}</span>
                    <div class="spinner-wrap d-none">
                        <div class="spinner-border" role="status"></div>
                    </div>
                </div>
            {% endif %}
            <div class="d-none">
                {{ knp_pagination_render(medias, 'core/pagination.html.twig') }}
            </div>
        </div>

    </div>
</div>