{% trans_default_domain 'admin' %}

{% if 'catalog'|moduleActive(configuration) %}

    {% set uri = app.request.uri %}
    {% set active = '/catalogs/' in uri %}
    {% set intl = intlsModules['catalog'][app.user.locale] is defined ? intlsModules['catalog'][app.user.locale] : intlsModules['catalog']['fr'] %}
    {% set title = intl.placeholder is defined and intl.placeholder|striptags|length > 0 ? intl.placeholder : (intlsModules['catalog']['entity'].adminName is defined ? intlsModules['catalog']['entity'].adminName : 'Catalogues'|trans) %}
    {% set icon = intlsModules['catalog']['entity'].iconClass is defined and intlsModules['catalog']['entity'].iconClass ? intlsModules['catalog']['entity'].iconClass : '/medias/icons/light/book-open.svg' %}

    <li{% if active %} class="active"{% endif %}>
        <a class="as-arrow{% if active %} active{% endif %}" href="javascript:void(0)" aria-expanded="false">
            {{ icon|icon(17, 15, 'white me-3', {icon: true}) }}{{ title|raw }}
        </a>
        <ul aria-expanded="false" class="collapse{% if active == 'catalogs' %} in{% endif %}">
            <li>
                <a href="{{ path('admin_catalog_index', {website: websiteId}) }}"
                   {% if '/catalogs/catalogs/' in uri %} class="active"{% endif %}
                   data-toggle="preloader">{{ "Liste des catalogues"|trans }}</a>
            </li>
{#            <li>#}
{#                <a href="{{ path('admin_catalogproduct_index', {website: websiteId}) }}"#}
{#                   {% if '/catalogs/products/' in uri %} class="active"{% endif %}#}
{#                   data-toggle="preloader">{{ "Liste des produits"|trans }}</a>#}
{#            </li>#}
            <li>
                <a href="{{ path('admin_catalogfeature_index', {website: websiteId}) }}"
                   {% if '/catalogs/features/' in uri %} class="active"{% endif %}
                   data-toggle="preloader">{{ "Liste des caractéristiques"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_catalogcategory_index', {website: websiteId}) }}"
                   {% if '/catalogs/categories/' in uri %} class="active"{% endif %}
                   data-toggle="preloader">{{ "Liste des catégories"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_productteaser_index', {website: websiteId}) }}"
                   {% if '/catalogs/teasers/' in uri %} class="active"{% endif %}
                   data-toggle="preloader">{{ "Configuration des teasers"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_cataloglisting_index', {website: websiteId}) }}"
                   {% if '/catalogs/listings/' in uri %} class="active"{% endif %}
                   data-toggle="preloader">{{ "Configuration des index"|trans }}</a>
            </li>
        </ul>
    </li>

{% endif %}