{% trans_default_domain 'admin' %}

{% if 'gallery'|moduleActive(configuration) %}
    {% set uri = app.request.uri %}
    {% set active = '/galleries/' in uri %}
    {% set module = 'gallery'|moduleActive(configuration) %}
    {% set intl = intlsModules['gallery'][app.user.locale] is defined ? intlsModules['gallery'][app.user.locale] : intlsModules['gallery']['fr'] %}
    {% set title = intl.placeholder is defined and intl.placeholder|striptags|length > 0 ? intl.placeholder : (intlsModules['gallery']['entity'].adminName is defined ? intlsModules['gallery']['entity'].adminName : 'Galeries'|trans) %}
    {% set icon = intlsModules['gallery']['entity'].iconClass is defined and intlsModules['gallery']['entity'].iconClass ? intlsModules['gallery']['entity'].iconClass : '/medias/icons/light/photo-video.svg' %}
    <li{% if active %} class="active"{% endif %}>
        <a class="as-arrow{% if active %} active{% endif %}" href="javascript:void(0)" aria-expanded="false">
            {{ icon|icon(17, 15, 'white me-3', {icon: true}) }}{{ title|raw }}
        </a>
        <ul aria-expanded="false" class="collapse{% if pageTag == 'galleries' %} in{% endif %}">
            <li>
                <a href="{{ path('admin_gallery_index', {website: websiteId}) }}" data-toggle="preloader">{{ "Liste des galeries"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_gallerycategory_index', {website: websiteId}) }}" {% if '/galleries/categories/' in uri %} class="active"{% endif %} data-toggle="preloader">{{ "Liste des catégories"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_galleryteaser_index', {website: websiteId}) }}"{% if '/galleries/teasers/' in uri %} class="active"{% endif %} data-toggle="preloader">{{ "Configuration des teasers"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_gallerylisting_index', {website: websiteId}) }}"{% if '/galleries/listings/' in uri %} class="active"{% endif %} data-toggle="preloader">{{ "Configuration des index"|trans }}</a>
            </li>
        </ul>
    </li>
{% endif %}