{%- block _subcategories_widget %}
    {% set asGroup = attr['radios-groups'] is defined and attr['radios-groups'] %}
    {% set placeholder = form.children.placeholder is defined ? form.children.placeholder : false %}
    {%- if asGroup -%}
        <div id="subcategories" class="form-check form-check-inline select-search">
            {%- if placeholder -%}
                {{ form_widget(placeholder) }}
            {%- endif -%}
            {%- for groupName, group in choices %}
                <div class="choices-group-radios w-100 text-uppercase mb-2"><strong>{{ groupName|raw }}</strong></div>
                {%- for child in group %}
                    <div class="form-check">
                        <input type="radio" id="subcategories-{{ urlize(child.data) }}"
                               name="{{ name }}"
                               class="form-check-input"
                               value="{{ child.value }}"
                               {%- if data == child.data -%} checked{%- endif -%}>
                        <label class="inline form-check-label" for="subcategories-{{ urlize(child.data) }}">{{ child.label|raw }}</label>
                    </div>
                {%- endfor -%}
            {%- endfor -%}
        </div>
    {%- else -%}
        {{ form_row(form) }}
    {%- endif -%}
{%- endblock _subcategories_widget -%}