{% trans_default_domain 'admin' %}

{% if granted('ROLE_AI') and mediaRelation.media.id is defined %}
    <div class="btn ai-button btn-chatgpt alt-generation"
         title="{{ 'Générer la balise ALT'|trans }}"
         aria-label="{{ 'Générer la balise ALT'|trans }}"
         data-bs-toggle="tooltip"
         data-api-run="{{ path('ai_api_run', {
             'tool': 4,
             'locale': mediaRelation.locale,
             'save': false,
         }) }}"
         data-felix-api="{{ path('ai_api_run_get_medias', {
             'tool': 4,
             'locale': mediaRelation.locale,
             'mediaId': mediaRelation.media.id,
         }) }}">
        <span class="ai-icon">{{ 'cms ai'|icon(null, null, null, [], '#ffffff') }}</span>
        <span class="d-none spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    </div>
{% endif %}