{% trans_default_domain 'front' %}
{% if pageCount > 1 %}
    {% set class = class is defined and class ? class : false %}
    <div class="pagination-nav-container d-inline-flex flex-column flex-md-row w-100">
        {% set countStart = ((current - 1) * numItemsPerPage) + 1 %}
        {% set countEnd = current * numItemsPerPage %}
        {% set countEnd = countEnd > totalCount ? totalCount : countEnd %}
        {% set count = 'Résultats de %countStart% à %countEnd% sur %totalCount%'|trans({
            '%countStart%': countStart,
            '%countEnd%': countEnd,
            '%totalCount%': totalCount,
        }) %}
        <span class="pagination-counter fw-300 me-md-4 order-2 order-md-1 text-center text-lg-start">{{ count|raw }}</span>
        <nav class="pagination-nav me-auto me-md-0 ms-auto order-1 order-md-2{% if class %} {{ class }}{% endif %}" data-next="{% if next is defined %}{{ absolute_url(path(route, query|merge({(pageParameterName): next}))) }}{% endif %}">
            {% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
            {% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}
            <ul class="pagination px-0 mb-0{{ classAlign }}{{ classSize }}">
                {% if previous is defined %}
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center previous" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" data-page="{{ previous }}"><i class="icon-chevron-left me-2"></i>{{ 'Précédent'|trans|raw }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link d-flex align-items-center disabled previous">{{ 'cms chevron-left'|icon(null, 10, 'me-1 initial-color') }}{{ 'Précédent'|trans|raw }}</span>
                    </li>
                {% endif %}
                {% if startPage > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ absolute_url(path(route, query|merge({(pageParameterName): 1}))) }}" data-page="1">1</a>
                    </li>
                    {% if startPage == 3 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ absolute_url(path(route, query|merge({(pageParameterName): 2}))) }}" data-page="2">2</a>
                        </li>
                    {% elseif startPage != 2 %}
                        <li class="page-item disabled">
                            <span class="page-link disabled">&hellip;</span>
                        </li>
                    {% endif %}
                {% endif %}
                {% for page in pagesInRange %}
                    {% if page != current %}
                        <li class="page-item">
                            <a class="page-link" href="{{ absolute_url(path(route, query|merge({(pageParameterName): page}))) }}" data-page="{{ page }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active">
                            <span class="page-link active">{{ page }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if pageCount > endPage %}
                    {% if pageCount > (endPage + 1) %}
                        {% if pageCount > (endPage + 2) %}
                            <li class="page-item disabled">
                                <span class="page-link disabled">&hellip;</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ absolute_url(path(route, query|merge({(pageParameterName): (pageCount - 1)}))) }}" data-page="{{ pageCount - 1 }}">{{ pageCount - 1 }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="{{ absolute_url(path(route, query|merge({(pageParameterName): pageCount}))) }}" data-page="{{ pageCount }}">{{ pageCount }}</a>
                    </li>
                {% endif %}
                {% if next is defined %}
                    <li class="page-item">
                        <a class="page-link d-flex align-items-center next" href="{{ absolute_url(path(route, query|merge({(pageParameterName): next}))) }}" data-page="{{ next }}">{{ 'Suivant'|trans|raw }}<i class="icon-chevron-right ms-2"></i></a>
                    </li>
                {% else %}
                    <li  class="page-item disabled">
                        <span class="page-link d-flex disabled align-items-center next">{{ 'Suivant'|trans|raw }}<i class="icon-chevron-right ms-2"></i></span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}