{% trans_default_domain 'front' %}

<div id="strength-wrap" class="col-12 mb-3 d-none flex-column">
    <div class="progress bg-light" role="progressbar" aria-label="{{ "Vérification du mot de passe"|trans }}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div id="strength-bar" class="progress-bar" style="width: 0%"></div>
    </div>
    <small id="strength-text" class="lh-1 mt-1"
           data-very-low="{{ "Très faible"|trans|striptags }}"
           data-low="{{ "Faible"|trans|striptags }}"
           data-medium="{{ "Moyen"|trans|striptags }}"
           data-strong="{{ "Fort"|trans|striptags }}"
           data-very-strong="{{ "Très fort"|trans|striptags }}"></small>
</div>