{% trans_default_domain 'front_default' %}

<div class="default-teaser container-fluid-right pe-0">
    <div class="row">
        <div class="col-md-4 pe-md-5">
            {% if haveTitle %}
                <h{{ titleForce }} class="title{% if linkUrl %} mb-4{% endif %}">{{ title|unescape|raw }}</h{{ titleForce }}>
            {% endif %}
            {% if linkUrl and isDesktop() %}
                <a href="{{ linkUrl }}" class="{{ linkStyle }}">{{ linkLabel|raw }}</a>
            {% endif %}
            {% if isDesktop() %}
                <div class="controls d-inline-flex w-100 d-flex justify-content-end mt-5 pt-5">
                    <span class="cursor" id="gallery-btn-prev" aria-label="{{ "Précédent"|trans|striptags }}">
                        <i class="icon-arrow-left text-white me-5"></i>
                    </span>
                        <span class="cursor" id="gallery-btn-next" aria-label="{{ "Suivant"|trans|striptags }}">
                        <i class="icon-arrow-right text-primary ms-5"></i>
                    </span>
                </div>
            {% endif %}
        </div>
        {% set itemsPerSlide = 4 %}
        <div class="col-md-8">
            <div class="splide"
                 data-items="{{ itemsPerSlide }}"
                 data-items-medium-pc="2"
                 data-items-mini-pc="2"
                 data-items-tablet="2"
                 data-items-mobile="1"
                 data-btn-prev="#gallery-btn-prev"
                 data-btn-next="#gallery-btn-next"
                 data-gap="2rem"
                 data-fade="1"
                 data-scroll="1"
                 data-pause="1"
                 data-autoplay="1"
                 data-arrows="1"
                 data-dots="0"
                 data-counter="0"
                 data-interval="3000">
                <div class="splide__track">
                    <ul class="splide__list{% if entities|length < itemsPerSlide %} d-lg-flex justify-content-lg-center{% endif %}">
                        {% set isFirst = true %}
                        {% for gallery in entities %}
                            {% if isArray(gallery) %}
                                {% for entityGallery in gallery %}
                                    {% set mediaRelations = entityGallery|intlMedias %}
                                    {% for mediaRelation in mediaRelations %}
                                        {% set media = mediaRelation.media.filename is defined and mediaRelation.media.filename ? mediaRelation.media : null %}
                                        {% if media %}
                                            {% set intlMedia = mediaRelation.intl %}
                                            <li class="splide__slide">
                                                {{ media|file(thumbConfiguration, {notInBox: true, popupGallery: false, fullPopup: false}) }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% set mediaRelations = gallery|intlMedias %}
                                {% for mediaRelation in mediaRelations %}
                                    {% set media = mediaRelation.media.filename is defined and mediaRelation.media.filename ? mediaRelation.media : null %}
                                    {% if media %}
                                        {% set intlMedia = mediaRelation.intl %}
                                        <li class="splide__slide">
                                            {{ media|file(thumbConfiguration, {notInBox: true, popupGallery: false, fullPopup: false}) }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if not isDesktop() %}
            <div class="col-md-4 pe-md-5">
                <div class="controls d-inline-flex w-100 d-flex mt-4">
                    <span class="cursor" id="gallery-btn-prev" aria-label="{{ "Précédent"|trans|striptags }}">
                        <i class="icon-arrow-left text-white me-4"></i>
                    </span>
                    <span class="cursor" id="gallery-btn-next" aria-label="{{ "Suivant"|trans|striptags }}">
                        <i class="icon-arrow-right text-white ms-4"></i>
                    </span>
                </div>
                {% if linkUrl %}
                    <a href="{{ linkUrl }}" class="mt-4 {{ linkStyle }}">{{ linkLabel|raw }}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>