{% if wo_breadcrumbs()|length %}
    <ol id="{{ listId }}" class="breadcrumb d-none d-md-inline-flex {{ listClass }}" itemscope
        itemtype="https://schema.org/BreadcrumbList">
        {% for b in breadcrumbs %}
            <li class="breadcrumb-item{% if loop.last %} active{% endif %}{% if itemClass is defined and itemClass|length %} {{ itemClass }}{% endif %}"
                itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                {% if b.url and not loop.last %}
                <a href="{{ b.url }}"
                   itemprop="item"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>
                    {% endif %}
                    <span itemprop="name">{% if b.translate is defined and b.translate == true %}{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}{% else %}{{- b.text -}}{% endif %}</span>
                    {% if b.url and not loop.last %}
                </a>
            {% elseif b.url %}
                <meta itemprop="item" content="{{ b.url }}"/>
                {% endif %}
                <meta itemprop="position" content="{{ loop.index }}"/>
                {% if separator is not null and not loop.last %}
                    <span class='{{ separatorClass }}'>{{ separator }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}