{% trans_default_domain 'admin' %}

{% set siteId = website.api.custom.aiFelixSiteId is defined ? website.api.custom.aiFelixSiteId : false %}

<button class="auto-run btn ai-button btn-chatgpt chatbot d-none"
    data-felix-api="{{ path('ai_api_run',{
        'tool': 1,
        'site': siteId,
        'cookie-chatbot': app.request.cookies.get('cookie-chatbot'),
    }) }}">
</button>
<div id="chat-bot" class="reduce">
    <div class="container-chat-bot">
        <div class="loader-chatbot loading"></div>
        <div id="reduce-chat-bot" class="header">
            <span style="transform: translateY(-2px);">{{ 'fal robot'|icon(null, 15, 'white me-sm-2') }}</span>
            <span>{{ 'Discuter avec Félix'|trans }}</span>
            <div class="d-none close-chatbot ms-auto">
                {{ 'fal times'|icon(20, 20, 'white') }}
            </div>
        </div>
        <div class="body">
            <div class="content">
                <div class="message assistant"><span>{{ "Bonjour, je suis Félix, votre assistant CMS. <br />En quoi puis-je vous aider?"|trans|raw }}</span></div>
            </div>
        </div>
        <div class="footer-chat-bot">
            <div class="form-container">
                <input placeholder="{{ 'Comment créer un bloc?'|trans }}" id="input-chat-bot" type="text" data-dashlane-rid="058fa620f00c2ce5">
                <div class="btn" id="submit-chat-bot"></div>
            </div>
        </div>
    </div>
</div>