{% trans_default_domain 'admin' %}

{% set configuration = configuration is defined ? configuration : website().configuration %}
{% set routeName = property.vars.errors.form.config.options.routeName is defined ? property.vars.errors.form.config.options.routeName : 'admin_'~interfaceName~'_position' %}
{% if not isNew and 'edit'|moduleActive(configuration) and (routeName)|routeExist %}
    {% set position = property.vars.data.position is defined and property.vars.data.position ? property.vars.data.position : 0 %}
    <div id="handle-item-prototype-{{ uniqId() }}"
         class="btn btn-white handle-item-prototype cursor"
         data-path="{{ path(routeName, {website: websiteId(), (interfaceName): entityId}) }}"
         data-position="{{ position }}">
        <span data-bs-toggle="tooltip" title="{{ "Déplacer"|trans|raw }}">
            {{ 'far arrows-alt'|icon(17, 14, 'info') }}
        </span>
    </div>
{% endif %}