{% trans_default_domain 'admin' %}

{% set website = website is defined ? website : website() %}
{% set onlineUsers = website|online_users('admin') %}
{% set pageIcon = pageIcon ? pageIcon
    : ('index' in masterRequest().get('_route') ? 'fal list'
    : ('edit' in masterRequest().get('_route') ? 'fal pencil'
    : ('tree' in masterRequest().get('_route') ? 'fal network-wired'
    : ('layout' in masterRequest().get('_route') ? 'fal desktop-alt' : 'fal pencil'
)))) %}

<div class="row page-titles{% if breadcrumb %} have-breadcrumb mb-0{% endif %}">

    <div class="col-2 col-md-6 my-auto d-flex align-items-center">
{#        <a class="nav-link sidebartoggler float-start me-3 d-flex align-items-center" aria-label="{{ "Navigation"|trans|striptags }}" href="javascript:void(0)">{{ 'fas bars'|icon(12, 14, 'info') }}</a>#}
{#        {{ 'fas bars'|icon(15, 17, 'info mx-3') }}#}
        <h4 class="fw-bolder text-info-darken float-start d-none d-md-inline-flex align-items-center ps-2">
            {% if pageIcon %}
                {{ pageIcon|icon(null, 17, 'info-darken me-2') }}
            {% endif %}
            {% block pageTitle %}
                {% set title = pageTitle ? pageTitle : (defaultTitle is defined ? defaultTitle : "Adminstration"|trans) %}
                {{ title|truncate(50, false)|raw }}
            {% endblock %}
        </h4>
    </div>

    <div class="right-side col-10 offset-md-0 col-md-6 d-flex align-items-center justify-content-end pe-0">
        <ul class="navbar-nav ms-auto">

            {% if logAlert() and granted('ROLE_INTERNAL') %}
                <li class="nav-item item-icon-wrap d-none d-md-inline">
                    <a href="{{ path('admin_logs') }}"
                       aria-label="{{ "Afficher les logs"|trans|striptags }}"
                       class="nav-link btn btn-darken"
                       data-bs-toggle="tooltip"
                       title="{{ "Afficher les logs"|trans|striptags }}">
                        {{ 'fal bug'|icon(26, 23, 'white', {icon: true}) }}
                        <div class="notify"> <span class="heartbit"></span><span class="point"></span></div>
                    </a>
                </li>
            {% endif %}

            {% set isAllowedToSwitch = granted('ROLE_ALLOWED_TO_SWITCH') or granted('ROLE_INTERNAL') %}
            {% if isAllowedToSwitch and not is_granted('IS_IMPERSONATOR') %}
                <li id="users-switcher-btn" data-path="{{ path('admin_user_switcher', {website: website.id, type: 'admin'}) }}"
                    class="cursor nav-item item-icon-wrap d-none d-md-inline" data-bs-toggle="tooltip" title="{{ "Afficher le commutateur d'utilsateurs"|trans|striptags }}">
                    <a class="nav-link btn btn-info-darken"
                       aria-label="{{ "Afficher le commutateur d'utilsateurs"|trans|striptags }}">
                        {{ 'fal switch-user'|icon(23, 23, 'text-info-light', {icon: true}) }}
                    </a>
                </li>
            {% elseif is_granted('IS_IMPERSONATOR') %}
                <li class="nav-item item-icon-wrap d-none d-md-inline" data-bs-toggle="tooltip" title="{{ "Reconnectez-vous en tant qu'administrateur"|trans|striptags }}">
                    <a href="{{ impersonation_exit_path(path('admin_dashboard', {website: websiteId()})) }}"
                       aria-label="{{ "Reconnectez-vous en tant qu'administrateur"|trans|striptags }}"
                       class="nav-link btn btn-info-darken">
                        {{ 'fal power-off'|icon(23, 23, 'text-info-light', {icon: true}) }}
                    </a>
                </li>
            {% endif %}

            {% if granted('ROLE_INTERNAL') and onlineUsers|length > 1 %}
                <li class="nav-item dropdown d-none d-md-inline"
                    data-bs-toggle="tooltip" title="{{ "Utilisateurs actifs"|trans|striptags }}">
                    <a class="nav-link dropdown-toggle p-0"
                       href=""
                       data-bs-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="bg-info-darken text-white d-inline-flex justify-content-center align-items-center avatar text-center">
                            {{ 'fal users'|icon(23, 23, 'info-light', {icon: true}) }}
                        </span>
                        {{ 'fas sort-down'|icon(11, 11, 'info-light', {icon: true}) }}
                    </a>
                    <div class="dropdown-menu bg-info-light">
                        {% for onlineUser in onlineUsers %}
                            {% if onlineUser.id != app.user.id %}
                                <a class="dropdown-item">{{ onlineUser.login }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endif %}

            <li class="nav-item dropdown d-none d-md-inline">
                <a class="nav-link dropdown-toggle p-0"
                   href=""
                   data-bs-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    {% set avatar = app.user.avatar is defined ? app.user.avatar : null %}
                    {% if 'http' in avatar %}
                        <img src="{{ avatar }}"
                             alt="{{ app.user.firstName~' '~app.user.lastName }}"
                             title="{{ app.user.firstName~' '~app.user.lastName }}"
                             data-bs-toggle="tooltip" width="30" height="30" />
                    {% else %}
                        <span class="bg-info-darken text-info-darken-dark d-inline-flex justify-content-center align-items-center avatar text-center">
                           <span class="bg-info-light avatar-label">{% if avatar %}{{ avatar }}{% else %}?{% endif %}</span>
                        </span>
                    {% endif %}
{#                    {{ 'fas sort-down'|icon(11, 11, 'text-info-light', {icon: true}) }}#}
                </a>
                <div class="dropdown-menu bg-info-light">
                    <a href="{{ path('admin_user_profile', {website: websiteId()}) }}" class="dropdown-item d-flex align-items-center" data-toggle="preloader">
                        {{ 'fas user'|icon(12, 14, 'me-2', {icon: true}) }}{{ "Mon profil"|trans }}
                    </a>
                    {% set asDarkTheme = (app.request.cookies.get('ADMIN_DARK_THEME') or masterRequest().get('admin_dark_theme')) and not masterRequest().get('admin_dark_theme_initial') %}
                    {% set themeParam = asDarkTheme ? 'admin_dark_theme_initial' : 'admin_dark_theme' %}
                    {% set themeLabel = asDarkTheme ? "Thème clair"|trans : "Thème sombre"|trans %}
                    {% set themeIcon = asDarkTheme ? 'sun' : 'moon' %}
                    <a href="{{ '?'~themeParam~'=true' }}" class="dropdown-item d-flex align-items-center" data-toggle="preloader">
                        {{ ('fas '~themeIcon)|icon(14, 14, 'me-2 initial', {icon: true}) }}{{ themeLabel|raw }}
                    </a>
                    <a href="{{ path('app_logout') }}" class="dropdown-item text-danger d-flex align-items-center" data-toggle="preloader">
                        {{ 'fas power-off'|icon(14, 14, 'danger me-2', {icon: true}) }}{{ "Déconnexion"|trans|raw }}
                    </a>
                </div>
            </li>

            {% if granted('ROLE_INTERNAL') %}
                <li class="nav-item item-icon-wrap">
                    <a class="nav-link btn btn-darken right-side-toggle text-dark"
                       aria-label="{{ "Navigation"|trans|striptags }}"
                       href="javascript:void(0)">{{ 'fal cog'|icon(16, 16, 'text-info-light', {icon: false}) }}</a>
                </li>
            {% endif %}

        </ul>
    </div>

</div>

{% if breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="page-breadcrumb breadcrumb">
            {% for item, path in breadcrumb %}
                <li class="breadcrumb-item"><a href="{{ path }}">{{ item }}</a></li>
            {% endfor %}
        </ol>
    </nav>
{% endif %}