{% trans_default_domain 'admin_js_plugins' %}

{% set formatDate = app.request.locale|formatDate %}

<div id="data-translation" class="d-none"
     data-save-back="{{ "Enregistrer et retourner à la liste"|trans|raw }}"
     data-save="{{ "Enregistrer"|trans|raw }}"
     data-save-edit="{{ "Enregistrer et éditer"|trans|raw }}"
     data-processing="{{ "Traitement en cours..."|trans|striptags }}"
     data-search="{{ "Chercher"|trans|striptags }}"
     data-error="{{ "Erreur"|trans|striptags }}"
     data-first="{{ "Premier"|trans|striptags }}"
     data-previous="{{ "Précédent"|trans|striptags }}"
     data-next="{{ "Suivant"|trans|striptags }}"
     data-last="{{ "Dernier"|trans|striptags }}"
     data-ok="{{ "OK"|trans|raw }}"
     data-close="{{ "Fermer"|trans|raw }}"
     data-deselect="{{ "Désélectionner"|trans|raw }}"
     data-format-datetime="{{ formatDate.dateTime }}"
     data-format-date="{{ formatDate.dateLarge }}"
     data-format-time="{{ formatDate.time }}"
     data-format-datepicker="{{ formatDate.datepickerJS }}"
     data-format-input="{{ formatDate.inputDate }}"
     data-internal-error="{{ "Une erreur interne est survenue !! Veuillez contacter le support."|trans|striptags }}"
     data-dropzone-default-message="{{ "Déposer des fichiers ou cliquer ici pour télécharger"|trans|striptags }}"
     data-dropzone-fallback-message="{{ "Votre navigateur ne supporte pas les téléchargements de fichiers par glisser-déposer."|trans|striptags }}"
     data-dropzone-fallback-text="{{ "Veuillez utiliser le formulaire de secours ci-dessous pour télécharger vos fichiers comme auparavant."|trans|striptags }}"
     data-dropzone-file-too-big="{{ "Le fichier est trop volumineux."|trans|striptags }}"
     data-dropzone-invalid-file-type="{{ "Vous ne pouvez pas télécharger de fichiers de ce type."|trans|striptags }}"
     data-dropzone-response-error="{{ "Le serveur a répondu avec une erreur."|trans|striptags }}"
     data-dropzone-cancel-upload="{{ "Annuler le téléchargement"|trans|striptags }}"
     data-dropzone-cancel-upload-confirmation="{{ "Êtes-vous sûr de vouloir annuler ce téléchargement?"|trans|striptags }}"
     data-dropzone-remove-file="{{ "Effacer le fichier"|trans|striptags }}"
     data-dropzone-max-files-exceeded="{{ "Vous ne pouvez plus télécharger de fichiers."|trans|striptags }}"
     data-datatable-display="{{ "Affiche _MENU_ entrées"|trans|striptags }}"
     data-datatable-info="{{ "Affiche _START_ à _END_ sur _TOTAL_ entrées"|trans|striptags }}"
     data-datatable-info-empty="{{ "Affiche 0 de 0 sur 0 entrée"|trans|striptags }}"
     data-datatable-info-filtered="{{ "(filtré de _MAX_ éléments au total)"|trans|striptags }}"
     data-datatable-zero-records="{{ "Aucune entrée à afficher"|trans|striptags }}"
     data-datatable-empty-table="{{ "Aucune donnée disponible"|trans|striptags }}"
     data-datatable-sort-ascending="{{ "Activer pour trier la colonne par ordre croissant"|trans|striptags }}"
     data-datatable-sort-descending="{{ "Activer pour trier la colonne par ordre décroissant"|trans|striptags }}"
     data-dropify-default="{{ "Glissez et déposez un fichier ici ou cliquez"|trans|striptags }}"
     data-dropify-replace="{{ "Glissez et déposez un fichier ici ou cliquer pour remplacer"|trans|striptags }}"
     data-dropify-remove="{{ "Supprimer"|trans|striptags }}"
     data-dropify-error="{{ "Oups, une erreur est survenue."|trans|striptags }}"
     data-dropify-file-size="{{ "La taille du fichier est trop grande."|trans|striptags }}"
     data-dropify-min-width="{{ "La largeur de l'image est trop petite."|trans|striptags }}"
     data-dropify-max-width="{{ "La largeur de l'image est trop grande."|trans|striptags }}"
     data-dropify-min-height="{{ "La hauteur de l'image est trop petite."|trans|striptags }}"
     data-dropify-max-height="{{ "La hauteur de l'image est trop grande."|trans|striptags }}"
     data-dropify-image-format="{{ "Le format d'image n'est pas autorisé."|trans|striptags }}"
     data-dropify-file-extension="{{ "Le fichier n'est pas autorisé."|trans|striptags }}"
     data-swal-title="{{ "Êtes-vous sûr ?"|trans|striptags }}"
     data-swal-success="{{ "Effectué avec succès !"|trans|striptags }}"
     data-swal-text=""
     data-swal-confirm-text="{{ "Oui !"|trans|striptags }}"
     data-swal-cancel-text="{{ "Annuler"|trans|striptags }}"
     data-swal-delete-title="{{ "Êtes-vous sûr ?"|trans|striptags }}"
     data-swal-delete-text=""
     data-swal-delete-confirm-text="{{ "Oui, supprimer !"|trans|striptags }}"
     data-swal-delete-cancel-text="{{ "Annuler"|trans|striptags }}"
     data-swal-delete-error-text="{{ "Une erreur est survenue !"|trans|striptags }}"
     data-swal-delete-success="{{ "Supprimé !"|trans|striptags }}"
     data-swal-delete-success-text=""></div>