{% extends "admin/base.html.twig" %}

{% trans_default_domain 'admin' %}

{% set configFields = ['urls', 'publicationStart', 'publicationEnd'] %}
{% set configsFieldsSet = configFields %}
{% set haveCustomLayout = entity.customLayout is defined and entity.customLayout %}
{% set transDomain = interface.name is defined and interface.name
    ? 'entity_'~interface.name : null %}

{% if pageTitle is not defined or pageTitle is defined and not pageTitle  %}
    {% set title = 'singular'|trans([], transDomain) and 'singular'|trans([], transDomain) != 'singular'
        ? 'singular'|trans([], transDomain) : 'Édition'|trans~" "~interface.name  %}
    {% set pageTitle = entity.adminName is defined and entity.adminName ? title~' : '~entity.adminName : title %}
{% endif %}

{% block title %}{{ pageTitle|htmlEntities }}{% endblock %}
{% block pageTitle %}{{ pageTitle|unescape|raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-edit-in-tab', null, 'admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin-edit-in-tab', null,  'admin') }}
    {{ parent() }}
{% endblock %}

{% set tabs = {
    intls: {
        title: "Description"|trans,
        icon: "fal align-center"
    },
    features: {
        title: "Caractéristiques"|trans,
        icon: "fal bullseye-pointer"
    },
    lots: {
        title: "Lots"|trans,
        icon: "fal building"
    },
    configuration: {
        title: "Configuration"|trans,
        icon: "fal cog"
    },
    products: {
        title: "Produits associés"|trans,
        icon: "fal album-collection"
    },
    informations: {
        title: "Coordonnées"|trans,
        icon: "fal info-circle"
    },
    seo: {
        title: "Référencement"|trans,
        icon: "fal chart-line"
    }}
%}

{% block body %}

    {% set isMainEntity = 'medias' not in app.request.uri %}
    {% set activeTab = activeTab is defined ? activeTab : null %}
    {% set featuresGroups = entity|productData %}

    {% include 'admin/include/alerts.html.twig' %}

    <div id="entity-edition" class="card{% if isMainEntity %} is-entity{% endif %}">
        <div class="card-body p-0 bottom-radius top-radius">
            {% include 'admin/include/stripe-preloader.html.twig' with {preloaderId: 'entity-preloader', full: true, progress: 'hide', preloaderClass: 'progress-fixed'} only %}
            <ul class="nav nav-tabs custom-tab large" role="tablist">
                {% for tabId, config in tabs %}
                    {% if tabId in activeTabs %}
                        <li class="nav-item">
                            <a {% if not isMainEntity %}href="{{ path('admin_catalogproduct_edit', {website: websiteId, catalogproduct: entity.id, catalog: entity.catalog.id, tab: tabId} ) }}"{% endif %}
                               id="nav-{{ tabId }}-tab" class="nav-link{% if activeTab == tabId or not activeTab and loop.first and isMainEntity %} active{% endif %}"
                                    {% if isMainEntity %}data-bs-toggle="tab" href="#{{ tabId }}" role="tab" aria-selected="{{ loop.first }}"{% else %} data-toggle="preloader"{% endif %}>
                                {{ config.icon|icon(17, 17, 'me-sm-2') }}
                                <span class="d-none d-lg-inline-block">{{ config.title }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if entity and entity.catalog and 'medias' in activeTabs %}
                    <li class="nav-item">
                        {% set routeArgs = 'admin_catalogproduct_medias'|routeArgs(entity) %}
                        <a href="{{ path('admin_catalogproduct_medias', routeArgs) }}"
                           id="medias-path"
                           class="nav-link{% if not isMainEntity %} active{% endif %}">
                            {{ 'fal photo-video'|icon(null, 17, 'me-sm-2') }}
                            <span class="d-none d-lg-inline-block">{{ "Médias"|trans }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item d-inline-flex right">
                    {% set backPage = app.request.session.get('last_route_back_page') ? app.request.session.get('last_route_back_page') : 1 %}
                    {% set routeArgs = 'admin_catalogproduct_index'|routeArgs(entity, {website: website.id, page: backPage}) %}
                    <a href="{{ path('admin_catalogproduct_index', routeArgs) }}"
                       class="back-link d-inline-flex align-items-center nav-link btn btn-info save small py-2 px-4 text-white">
                        {{ 'fal reply'|icon(16, 17, 'white me-2') }}<span>{{ "Retourner à la liste"|trans|raw }}</span>
                    </a>
                    {% if isMainEntity %}
                        <div class="save-buttons d-flex">
                            {% set lastRoute = app.request.session.get('last_route_back') %}
                            {% set haveSaveBack = lastRoute.name is defined and lastRoute.params is defined %}
                            <span id="save-entity" class="nav-link save small bg-info cursor text-white{% if haveSaveBack %} border-right{% endif %}">
                                {{ 'fal save'|icon(16, 17, 'white me-2') }}<span>{{ "Enregistrer"|trans }}</span>
                            </span>
                            <span id="save-back-entity" class="nav-link save small bg-info cursor text-white" data-path="{{ path('admin_catalogproduct_index', routeArgs) }}">
                                {{ 'fal save'|icon(16, 17, 'white me-2') }}<span>{{ "Enregistrer et retourner à la liste"|trans }}</span>
                            </span>
                        </div>
                    {% endif %}
                </li>
            </ul>
            {% block entityForm %}{% endblock %}
        </div>
    </div>

    {% if haveCustomLayout and granted('ROLE_LAYOUT_'~interface.name|upper) and '_media' not in app.request.get('_route') %}
        <div id="layout-grid" class="mb-4">
            {% set layout = entity.layout is defined and entity.layout ? entity.layout : null %}
            {% include 'admin/core/layout/zones.html.twig' %}
        </div>
    {% endif %}

    <div id="entity-translations"
         data-swal-entity-title="{{ "Pensez à enregistrer vos modifications"|trans }}"
         data-swal-entity-text=""
         data-swal-entity-cancel-text="{{ "Annuler"|trans }}"
         data-swal-media-confirm-text="{{ "Aller aux médias"|trans }}"
         data-swal-value-confirm-text="{{ "Éditer la valeur"|trans }}">
    </div>

{% endblock %}