{% extends "admin/base.html.twig" %}

{% trans_default_domain 'admin' %}

{% set pageTitle = "Importation de données"|trans %}

{% block title %}{{ pageTitle|htmlEntities }}{% endblock %}
{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-development', null, 'admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin-development', null, 'admin', {defer: false}) }}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'admin/include/alert.html.twig' with {display: "alert", alert: "info", message: "Pour l'import de données : configurer dbal:connections:direct."|trans} only %}
    <div id="ajax-import-wrap" class="mb-4 d-none"></div>
    <div id="import-index-links" class="row">
        <div class="col-md-3">
            <div class="card">
                <h4 class="card-title card-header">{{ 'fal database'|icon(18, 18, 'info-darken me-2') }}{{ "CMS 3"|trans }}</h4>
                <div class="card-body pb-1">
                    <span data-path="{{ path('admin_dev_import_entities', {website: website.id, version: 4}) }}"
                          class="btn btn-outline-info-darken w-100 mb-3 import-data-btn"
                          data-toggle="preloader">{{ "Pages"|trans }}</span>
                    <span data-path="{{ path('admin_dev_import_newscasts', {website: website.id, version: 4}) }}"
                          class="btn btn-outline-info-darken w-100 mb-3 import-data-btn"
                          data-toggle="preloader">{{ "Actualités"|trans }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="card-title card-header">{{ 'fal database'|icon(18, 18, 'info-darken me-2') }}{{ "CMS 6"|trans }}</h4>
                <div class="card-body pb-1">
                    {% for entity in entities.cms6 %}
                        <span data-path="{{ path('admin_dev_import_entities', {website: website.id, version: 6, classname: entity.classname, tables: entity.tables}) }}"
                              class="btn btn-outline-info-darken w-100 mb-3 import-data-btn"
                              data-toggle="preloader">{{ entity.title }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h4 class="card-title card-header">{{ 'fal database'|icon(18, 18, 'info-darken me-2') }}{{ "ZEND"|trans }}</h4>
                <div class="card-body pb-1">

                </div>
            </div>
        </div>
    </div>
{% endblock %}