{% trans_default_domain 'front_default' %}

{% import 'front/'~websiteTemplate~'/include/macros/card.html.twig' as macroCard %}
{% import 'core/webmaster-edit.html.twig' as macroWebmaster %}

{% import _self as macro %}

{% macro arrows(entity, autoplay, side, color, asBtn, position) %}
    {% set buttons = ['previous', 'next'] %}
    {% set website = entity.website is defined ? entity.website : website() %}
    {% set configuration = website.configuration is defined ? website.configuration : false %}
    {% set accessibility = configuration.accessibilityStatus is defined ? configuration.accessibilityStatus : true %}
    {% set iconClasses = not asBtn ? 'text-'~color : '' %}
    {% set icon = asBtn ? 'chevron' : 'arrow' %}
    {% set btnClasses = asBtn ? 'btn-circle btn btn-'~color : '' %}
    <div class="arrows-wrap d-flex justify-content-{{ side }} {% if 'top' == position %}mb-5{% else %}mt-5{% endif %}{% if 'end' == side %} me-4 me-md-5{% endif %}{% if asBtn %} as-btn{% endif %}">
        <button class="btn-arrow btn-prev cursor me-2{% if btnClasses %} {{ btnClasses }}{% endif %}{% if 'previous' not in buttons %} d-none{% endif %}" aria-label="{{ "Précédent"|trans }}" tabindex="-1">
            <i class="icon-{{ icon }}-left{% if iconClasses %} {{ iconClasses }}{% endif %}"></i>
        </button>
        {% if autoplay and accessibility %}
            <button class="btn-arrow btn-pause cursor mx-1{% if btnClasses %} {{ btnClasses }}{% endif %}" aria-label="{{ "Pause"|trans }}" tabindex="-1">
                <i class="icon-pause{% if iconClasses %} {{ iconClasses }}{% endif %}"></i>
            </button>
            <button class="btn-arrow btn-play d-none cursor mx-1{% if btnClasses %} {{ btnClasses }}{% endif %}" aria-label="{{ "Play"|trans }}" tabindex="-1">
                <i class="icon-play{% if iconClasses %} {{ iconClasses }}{% endif %}"></i>
            </button>
        {% endif %}
        <button class="btn-arrow btn-next cursor ms-2{% if btnClasses %} {{ btnClasses }}{% endif %}{% if 'next' not in buttons %} d-none{% endif %}" aria-label="{{ "Suivant"|trans }}" tabindex="-1">
            <i class="icon-{{ icon }}-right{% if iconClasses %} {{ iconClasses }}{% endif %}"></i>
        </button>
    </div>
{% endmacro %}

{% if entities %}
    <div class="products-slider-multi-teaser-container position-relative">
        {{ macroWebmaster.box({
            title: "Éditer le tesaer"|trans([], 'front_webmaster'),
            role: 'ROLE_CATALOG',
            path: path('admin_productteaser_edit', {website: website.id, productteaser: teaser.id})
        }) }}
        {% if teaserIntl.title %}
            {% set titleForce = teaserIntl.titleForce ? teaserIntl.titleForce : 2 %}
            <h{{ titleForce }} class="title mb-4">{{ teaserIntl.title|raw }}</h{{ titleForce }}>
        {% endif %}
        {% set autoplay = 1 %}
        <div id="catalog-teaser-{{ teaser.slug }}" class="catalog-teaser splide mt-5 length-{{ entities|length }}"
             data-items="{{ teaser.itemsPerSlide }}"
             data-lenght="{{ entities|length }}"
             data-items-medium-pc="3"
             data-items-mini-pc="3"
             data-items-tablet="2"
             data-items-mobile="1"
             data-fade="loop"
             data-scroll="1"
             data-pause="1"
             data-autoplay="{{ autoplay }}"
             data-arrows="1"
             data-dots="0"
             data-gap="2rem"
             data-counter="0"
             data-interval="2500">
            <div class="splide__track">
                {% set arrowsClass = entities|length >= teaser.itemsPerSlide ? ' d-lg-none' : '' %}
                {{ macro.arrows(website, autoplay, 'end', 'primary'~arrowsClass, true, 'top') }}
                <ul class="splide__list{% if entities|length < teaser.itemsPerSlide %} d-lg-flex justify-content-lg-center{% endif %}">
                    {% for post in entities %}
                        <li class="splide__slide{% if entities|length == 1 %} ms-3{% endif %}">
                            {{ macroCard.standard({
                                entity: post,
                                titleForce: 3,
                                thumbConfiguration: thumbConfiguration,
                                thumbPlaceholder: true,
                                displayThumbnail: true,
                                showLink: true,
                                colSize: 4,
                                webmaster: {
                                    title: "Éditer le produit"|trans([], 'front_webmaster'),
                                    role: 'ROLE_CATALOG',
                                    path: path('admin_catalogproduct_edit', {website: website.id, catalogproduct: post.id})
                                }}) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if entities|length >= teaser.itemsPerSlide %}
                <div class="row">
                    <div class="col-11 col-md-9">
                        <div class="slider-progress-container d-flex justify-content-start align-items-center w-100 mt-5">
                            <div class="slider-progress w-100">
                                <div class="slider-progress-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}