{% trans_default_domain 'front_default' %}

{% import 'core/webmaster-edit.html.twig' as macroWebmaster %}

{% set displayHomePage = true %}
{% set isHome = seo.entity.asIndex is defined and seo.entity.asIndex %}
{% set configuration = configuration is defined ? configuration : website().configuration %}
{% set microDataActive = microDataActive is defined ? microDataActive : false %}

{% set logo = logos.logo is defined and logos.logo ? logos.logo : null %}
{% set networks = logos['social-networks'] is defined and logos['social-networks'] ? logos['social-networks'] : null %}
{% set haveEmails = infos.emails.header is defined and infos.emails.header|length > 0 %}
{% set havePhones = infos.phones.header is defined and infos.phones.header|length > 0 %}
{% set companyName = informationIntl.title is defined and informationIntl.title ? informationIntl.title : "Agence Félix"|trans|raw %}
{% set haveLogin = 'secure-page'|moduleActive(configuration) %}
{% set links = tree.main is defined ? tree.main : [] %}
{% set compagnyNameElement = (seo.titleH1 is defined and not seo.titleH1 or seo.titleH1 is not defined) ? 'h1' : 'strong' %}
{% if seo.card is defined and seo.card %}
    {% set compagnyNameElement = 'strong' %}
{% endif %}
{% set contactPageUrl = mainPages['contact']['code'] is defined ? mainPages['contact']['code'] : null %}

{% import _self as macro %}

{% macro element(link, tree, microDataActive, expand, dropdownHover, dropdownItem, isLast) %}
    {% if link.online is defined and link.online %}
        {% set path = link.link %}
        {% set element = link.link ? 'a' : 'div' %}
        {% if not link.link and link.children %}
            {% set element = 'a' %}
            {% set child = link.children|first %}
            {% set path = child.link %}
        {% endif %}
        {% set pushMicroData = microDataActive and link.level == 1 and not link.linkExternal and not link.children %}
        <li class="nav-item level-{{ link.level }}{% if link.children %} dropdown{% if link.level >= 2 %} dropdown-submenu{% endif %}{% endif %}{% if link.media %} item-logo{% endif %} text-center text-{{ expand }}-start{% if link.active %} active{% endif %}{% if link.level == 1 and not isLast %} me-{{ expand }}-4{% endif %}"
            {% if pushMicroData %} itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"{% endif %}>
            {% set linkClass = link.class~' nav-link text-primary '~expand~' link-level-'~link.level %}
            {% set linkClass = link.children and not dropdownHover ? linkClass~' dropdown-toggle' : linkClass %}
            {% set linkClass = dropdownItem ? linkClass~' dropdown-item' : linkClass %}
            {% set linkClass = 1 == link.level ? linkClass~' text-uppercase' : linkClass %}
            <{% if 'a' == element %}a{% else %}div{% endif %} class="{{ linkClass }}"{% if link.dataAnchor %} data-anchor="{{ link.dataAnchor }}"{% endif %}
                {% if path %}href="{{ path }}"{% endif %}{% if link.children and not dropdownHover %} id="navbar-link-{{ link.id }}"{% endif %}
                {% if link.children and not dropdownHover %} role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% elseif link.linkBlank %} target="_blank"{% else %} data-toggle="preloader"{% endif %}
                {% if link.linkExternal %} rel="noopener noreferrer"{% endif %}
                {% if pushMicroData %} itemprop="url"{% endif %}>
                {% if link.media %}
                    {{ link.media.mediaRelation|file }}
                    <span class="d-lg-none"{% if pushMicroData %} itemprop="name"{% endif %}>{{ link.title|unescape|raw }}</span>
                {% else %}
                    {% if pushMicroData %}<span itemprop="name">{% endif %}{{ link.title|unescape|raw }}{% if pushMicroData %}</span>{% endif %}
                {% endif %}
                {% if link.children %}
                    <span class="caret position-absolute ms-2{% if dropdownHover %} dropdown-toggle{% endif %}"
                        {% if dropdownHover %} id="navbar-link-{{ link.id }}" role="button" aria-label="{{ "Voir plus"|trans|striptags }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
                        {% set icon = link.level == 1 ? 'down' : 'right' %}
                        {{ ('fal chevron-'~icon)|icon(null, 8) }}
                    </span>
                {% endif %}
            </{% if 'a' == element %}a{% else %}div{% endif %}>
            {% if link.children %}
                <ul class="dropdown-menu dropdown-menu-level-{{ link.level }}" aria-labelledby="navbar-link-{{ link.id }}">
                    {% for subLink in link.children %}
                        {{ macro.element(subLink, tree, microDataActive, expand, dropdownHover, true, loop.last) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}

<div id="menu-container-{{ slug }}" class="menu-container w-100 position-relative{% if fixedOnScroll or alwaysFixed %} as-sticky{% endif %}{% if alwaysFixed %} always-sticky{% endif %} {{ dropdownClass }}"
     data-expand="{{ expand }}">
    {{ macroWebmaster.box({
        title: "Éditer le menu"|trans([], 'front_webmaster'),
        role: 'ROLE_NAVIGATION',
        path: path('admin_menu_edit', {website: website.id, menu: id, entitylocale: app.request.locale})
    }) }}
    <nav id="main-navigation-{{ slug }}" class="navbar navbar-expand-{{ expand }} pe-2 ps-2 pe-{{ expand }}-0 ps-{{ expand }}-0 pt-{{ expand }}-4 pb-{{ expand }}-4"
         aria-label="{{ "Navigation secondaire"|trans|striptags }}">
        <div class="{{ size }}{% if size == 'container-fluid' %} pe-sm-5 ps-sm-5{% endif %}">
            <div id="main-navigation-nav-{{ slug }}" class="collapse navbar-collapse">
                {% set class = 'mx-auto' == alignment ? 'px-3' : 'ps-'~expand~'-5' %}
                <ul class="navbar-nav {% if haveLogin %}w-100{% else %}{{ alignment }}{% endif %} pt-4 pb-4 pt-{{ expand }}-0 pb-{{ expand }}-0 {{ class }}">
                    {% if displayHomePage %}
                        <li class="nav-item level-1 text-center d-{{ expand }}-none text-uppercase{% if indexActive %} active{% endif %}"
                            {% if microDataActive %} itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"{% endif %}>
                            <a href="{{ path('front_index') }}" class="nav-link link-level-1 text-primary{% if indexActive %} active{% endif %}"
                                {% if microDataActive %} itemprop="url"{% endif %} data-toggle="preloader">
                                {% if microDataActive %}<span itemprop="name">{% endif %}{{ "Accueil"|trans|raw }}{% if microDataActive %}</span>{% endif %}
                            </a>
                        </li>
                    {% endif %}
                    {% for link in links %}
                        {{ macro.element(link, tree, microDataActive, expand, dropdownHover, false, loop.last) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>