{% trans_default_domain 'front_default' %}

{% import 'core/webmaster-edit.html.twig' as macroWebmaster %}

{% set displayHomePage = false %}
{% set isHome = (seo.entity.asIndex is defined and seo.entity.asIndex) or (app.request.requestUri == '/') or (not app.request.requestUri) %}
{% set logo = logos.logo is defined and logos.logo ? logos.logo : null %}
{% set networks = logos['social-networks'] is defined and logos['social-networks'] ? logos['social-networks'] : null %}
{% set haveEmails = infos.emails.header is defined and infos.emails.header|length > 0 %}
{% set havePhones = infos.phones.header is defined and infos.phones.header|length > 0 %}
{% set companyName = informationIntl.title is defined and informationIntl.title ? informationIntl.title : "Agence Félix"|trans|raw %}
{% set haveLogin = 'secure-page'|moduleActive(configuration) %}
{% set links = tree.main is defined ? tree.main : [] %}
{% set compagnyNameElement = (seo.titleH1 is defined and not seo.titleH1 or seo.titleH1 is not defined) ? 'h1' : 'strong' %}
{% if seo.card is defined and seo.card %}
    {% set compagnyNameElement = 'strong' %}
{% endif %}
{% set contactPageUrl = mainPages.contact.code is defined ? mainPages.contact.code : null %}
{% set notExpanded = 'xxxl' == expand %}

{% import _self as macro %}

{% macro element(link, tree, microDataActive, expand, dropdownHover, dropdownItem, isLast, websiteTemplate, notExpanded, haveIcons = false) %}
    {% set dropdownBack = false %}
    {% if link.online is defined and link.online %}
        {% set path = link.link %}
        {% set element = link.link ? 'a' : 'div' %}
        {% if not link.link and link.children %}
            {% set element = 'a' %}
            {% set child = link.children|first %}
            {% set path = child.link %}
        {% endif %}
        {% set pushMicroData = microDataActive and link.level == 1 and not link.linkExternal and not link.children %}
        {% set liClass = haveIcons ? 'align-items-start' : 'align-items-center' %}
        {% set liClass = link.active ? ' active' : liClass %}
        {% set liClass = link.children ? liClass~' dropdown' : liClass %}
        {% set liClass = link.children and link.level >= 2 ? liClass~' dropdown-submenu' : liClass %}
        {% set liClass = link.media ? liClass~' item-logo' : liClass %}
        {% set liClass = not notExpanded ? liClass~' justify-content-lg-center' : liClass %}
        {% set liClass = link.level == 1 and not isLast and not notExpanded ? liClass~' me-'~expand~'-4 mb-4 mb-lg-0' : liClass %}
        {% set liClass = link.level == 1 ? liClass~' justify-content-end text-end text-'~expand~'-start' : liClass~' justify-content-start text-start' %}
        <li class="nav-item position-relative d-flex level-{{ link.level }} {{ liClass }}"
            {% if pushMicroData %} itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"{% endif %}>
            {% set linkClass = link.class~' nav-link fw-600 '~expand~' link-level-'~link.level %}
            {% set linkClass = link.children and not dropdownHover ? linkClass~' as-dropdown-toggle dropdown-toggle' : (link.children ? 'as-dropdown-toggle '~linkClass : linkClass) %}
            {% set linkClass = dropdownItem ? linkClass~' dropdown-item' : linkClass %}
            {% set linkClass = 1 == link.level ? linkClass~' text-initial text-white d-flex justify-content-end align-items-center text-end' : linkClass~' text-initial text-white' %}
            {% if link.level >= 3 %}
            {% if haveIcons %}
                <div class="pictogram-wrap me-3">
                    {% if link.pictogram %}
                        {{ asset(link.pictogram)|file({}, {class: 'pictogram', width: 40, height: 40}) }}
                    {% endif %}
                </div>
            {% endif %}
            <div class="link-wrap">
                {% endif %}
                <{% if 'a' == element %}a{% else %}div{% endif %} class="{{ linkClass }}"{% if link.dataAnchor %} data-anchor="{{ link.dataAnchor }}"{% endif %}
                    href="{% if path %}{{ path }}{% else %}javascript:void(0){% endif %}"{% if link.children and not dropdownHover %} id="navbar-link-{{ link.id }}"{% endif %}
                    {% if link.linkBlank %} target="_blank"{% else %} data-toggle="preloader"{% endif %}
                    {% if link.linkExternal %} rel="noopener noreferrer"{% endif %}
                    {% if pushMicroData %} itemprop="url"{% endif %}>
                    {% if link.media.haveMedia is defined and link.media.haveMedia %}
                        {{ link.media|file }}
                        <span class="d-lg-none"{% if pushMicroData %} itemprop="name"{% endif %}>{{ link.title|unescape|raw }}</span>
                    {% else %}
                        <span class="link-label cursor{% if link.level > 1 %} text-secondary{% endif %}"{% if pushMicroData %} itemprop="name"{% endif %}>{{ link.title|unescape|raw }}</span>
                    {% endif %}
                    {% if link.level == 1 %}
                        <span class="caret position-relative ms-4 ms-md-4{% if link.children is not empty %} have-children{% endif %}"{% if dropdownHover %} id="navbar-link-{{ link.id }}"{% endif %}>
                        {% set icon = link.level == 1 ? 'right' : 'right' %}
                        <i class="icon-arrow-{{ icon }} position-relative" aria-label="{{ "Voir plus"|trans|striptags }}"></i>
                    </span>
                    {% endif %}
                </{% if 'a' == element %}a{% else %}div{% endif %}>
                {% if link.level >= 3 %}
                {% if link.introduction %}
                    <div class="intro mt-2">{{ link.introduction|raw }}</div>
                {% endif %}
            </div>
            {% endif %}
            {% if link.children %}
                <div class="submenu bg-white submenu-level-{{ link.level }}">
                    {% set displayBack = link.level == 3 %}
                    <div class="dropdown-back cursor d-flex px-3 px-md-4 px-md-5 py-4 fw-700 align-items-center dropdown-back-level-{{ link.level }}{% if not displayBack %} d-none{% endif %}" aria-hidden="true">
                        <i class="icon-arrow-left text-primary me-3"></i>
                        <span class="label-back text-warning position-relative fw-500 me-3 me-lg-0">{{ link.title|unescape|raw }}</span>
                    </div>
                    <div class="inner py-3 py-lg-5 px-4 px-lg-5 position-relative">
                        {% if link.level == 1 %}
                            <i class="close-menu-level-{{ link.level }} close-menu-submenu icon-times-circle text-primary position-absolute cursor d-inline-block"></i>
                        {% endif %}
                        <div class="inner-sub-wrap px-xxl-5 spy-scroll position-relative text-start {% if link.level >= 3 %}pt-4{% else %}mt-4 mt-lg-4{% endif %}" tabindex="-1">
                            {% if link.subTitle %}
                                <strong class="submenu-label d-inline-block fw-600 mb-5 w-100 lh-1">{{ link.subTitle|raw }}</strong>
                            {% endif %}
                            {% set haveColumns = false %}
                            {% set haveIcons = false %}
                            {% for subLink in link.children %}
                                {% if subLink.pictogram and subLink.level == 4 %}
                                    {% set haveIcons = true %}
                                {% endif %}
                                {% if subLink.children is not empty and subLink.level == 2 %}
                                    {% set haveColumns = true %}
                                {% endif %}
                                {% for subSubLInk in subLink.children %}
                                    {% if subSubLInk.pictogram is not empty and subLink.level == 2 %}
                                        {% set haveIcons = true %}
                                    {% endif %}
                                    {% if subSubLInk.children is not empty %}
                                        {% set haveColumns = true %}
                                        {% if subLink.pictogram and link.level == 1 %}
                                            {% set haveIcons = true %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if haveColumns %}
                                <div class="submenu-columns d-xl-flex{% if link.level < 3 %} pt-4{% endif %}">
                                    {% for subLink in link.children %}
                                        <ul class="sublist ps-0{% if loop.index > 1 %} ms-xl-5{% endif %}">
                                            {% for subSubLInk in subLink.children %}
                                                {{ macro.element(subSubLInk, tree, microDataActive, expand, dropdownHover, true, loop.last, websiteTemplate, notExpanded, haveIcons) }}
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <ul class="reset">
                                    {% for subLink in link.children %}
                                        {{ macro.element(subLink, tree, microDataActive, expand, dropdownHover, true, loop.last, websiteTemplate, notExpanded, haveIcons) }}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}

<div id="menu-container-{{ slug }}" class="menu-container as-lateral w-100 {% if fixedOnScroll or alwaysFixed %} as-sticky sticky-top{% else %}position-relative{% endif %}{% if alwaysFixed %} always-sticky{% endif %} {{ dropdownClass }}"
     data-expand="{{ expand }}"
     tabindex="0">
    {{ macroWebmaster.box({
        title: "Éditer le menu"|trans([], 'front_webmaster'),
        role: 'ROLE_NAVIGATION',
        path: path('admin_menu_edit', {website: website.id, menu: id, entitylocale: app.request.locale})
    }) }}
    <header id="main-navigation" class="navbar navbar-expand-{{ expand }} px-0 py-0">
        <div class="{{ size }}{% if size == 'container-fluid' %} px-0{% endif %}">
            <div class="row w-100 m-0">
                <div class="side col-6 d-flex align-items-center px-0">
                    <button class="navbar-toggler bg-transparent me-2 cursor" data-bs-toggle="collapse" data-bs-target="#main-navigation-nav" aria-controls="main-navigation-nav" aria-expanded="false" aria-label="{{ "Menu"|trans|raw }}">
                        <span class="nav-toggler-icon" aria-label="{{ "Menu"|trans|raw }}">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                    {% if logo %}
                        <{% if 'h1' == compagnyNameElement %}h1{% else %}strong{% endif %} class="d-none" aria-hidden="true">{{ companyName|striptags }}</{% if 'h1' == compagnyNameElement %}h1{% else %}strong{% endif %}>
                        <a class="navbar-brand d-block p-0 mx-0 ms-2 ms-md-4" aria-label="{{ companyName|striptags }}" href="{{ app.request.getSchemeAndHttpHost() }}" data-toggle="preloader">
                            {{ asset(logo)|file({}, {
                                screensSizes: {
                                    mobile: {width: 138, height: 60},
                                    tablet: {width: 138, height: 60},
                                    desktop: {width: 138, height: 60}
                                },
                                decor: false,
                                title: companyName,
                                class: 'force-size logo initial-color',
                                only_html: false,
                                lazyLoad: false,
                                priority: 'high'
                            }) }}
                        </a>
                    {% endif %}
                    <div id="main-navigation-nav" class="collapse navbar-collapse {% if notExpanded %}submenu main-submenu not-expanded position-fixed bg-primary{% else %}position-relative{% endif %}">
                        <nav class="inner d-{{ expand }}-flex align-center{% if notExpanded %} w-100 pt-5{% endif %}" role="navigation" aria-label="{{ "Navigation principale"|trans|striptags }}">
                            {% set class = 'mx-auto' == alignment ? 'px-3' : (not notExpanded ? 'ps-4 pe-5 ps-lg-0 pe-xl-0 ps-xxxl-5' : 'ps-4 pe-5') %}
                            <ul class="navbar-nav {% if haveLogin %}w-100{% else %}{{ alignment }}{% endif %} pt-3 pb-5{% if not notExpanded %} pt-{{ expand }}-0 pb-{{ expand }}-0{% endif %} {{ class }}">
                                {% if displayHomePage %}
                                    <li class="nav-item d-flex align-items-center justify-content-center level-1 text-center d-{{ expand }}-none{% if indexActive %} active{% endif %}"
                                        {% if microDataActive %} itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"{% endif %}>
                                        <a href="{{ path('front_index') }}" class="nav-link link-level-1 fw-600 text-black{% if indexActive %} active{% endif %}"
                                            {% if microDataActive %} itemprop="url"{% endif %} data-toggle="preloader">
                                            {% if microDataActive %}<span itemprop="name">{% endif %}{{ "Accueil"|trans|raw }}{% if microDataActive %}</span>{% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% for link in links %}
                                    {{ macro.element(link, tree, microDataActive, expand, dropdownHover, false, loop.last, websiteTemplate, notExpanded) }}
                                {% endfor %}
                            </ul>
                        </nav>
                        {% if website.networks %}
                            <nav class="socials-list d-inline-flex justify-content-center mt-auto mb-5 w-100" aria-label="{{ "Navigation des liens sociaux"|trans|striptags }}">
                                {% for name, infos in website.networks %}
                                    {% if infos.link and infos.dirname %}
                                        {% set label = name|striptags|capitalize~' - '~'nouvelle fenêtre'|trans|striptags %}
                                        <button class="{{ name }} btn btn-transparent basic p-0 d-inline-flex ms-3 me-3 me-lg-3 js-open-window"
                                                data-url="{{ infos.link }}"
                                                aria-label="{{ label }}">
                                            <i class="icon-{{ name|lower }}" aria-hidden="true"></i>
                                            <span class="visually-hidden">{{ label }}</span>
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </nav>
                        {% endif %}
                    </div>
                </div>
                <div class="side col-6 d-flex align-items-center justify-content-end pe-3 pe-md-4">
                    {% if haveLogin %}
                        {% include 'front/'~websiteTemplate~'/actions/menu/login-nav.html.twig' with {
                            website: website,
                            expand: expand,
                            haveLogin: haveLogin,
                            microDataActive: microDataActive,
                        } only %}
                    {% endif %}
                    {% if contactPageUrl %}
                        <a href="{{ path('front_index', {url: contactPageUrl}) }}" class="track-link-contact-form contact-link d-none d-lg-flex justify-content-lg-center align-content-lg-center btn btn-primary ms-lg-4 me-lg-5">
                            {{ "Nous contacter"|trans|raw }}<i class="icon-circle ms-4"></i>
                        </a>
                    {% endif %}
                    {% if multiLingues %}
                        {{ render_esi(path('front_locales_switcher', {class: ''|url_encode, classname: currentClassname|url_encode, entityId: currentEntityId} )) }}
                    {% endif %}
                    {% if 'search'|moduleActive(configuration) %}
                        {{ render_esi(path('front_search_view', {filter: 'main', button: true, website: website.id} )) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="overlay d-none d-lg-inline-block position-fixed"></div>
    </header>
</div>