{% extends "admin/base.html.twig" %}

{% trans_default_domain 'admin' %}

{% set pageTitle = "Site :"|trans~" "~entity.adminName %}
{% block title %}{{ pageTitle|htmlEntities }}{% endblock %}
{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-website', null, 'admin') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin-website', null,  'admin') }}
    {{ parent() }}
{% endblock %}

{% set tabs = {
    configuration: {
        title: "Configuration"|trans,
        icon: "fal cog"
    },
    domains: {
        title: "Domaines"|trans,
        icon: "fal rss"
    },
    modules: {
        title: "Modules"|trans,
        icon: "fal sliders-h"
    },
    themes: {
        title: "Thèmes"|trans,
        icon: "fal atom"
    },
    apis: {
        title: "APIS"|trans,
        icon: "fal meteor"
    },
    security: {
        title: "Sécurité"|trans,
        icon: "fal shield-check"
    },
    emails: {
        title: "Emails"|trans,
        icon: "fal at"
    },
    development: {
        title: "Développement"|trans,
        icon: "fal code"
    }}
%}

{% block body %}

    <div id="website-edition" class="d-inline-block w-100">
        {{ form_start(form, {attr: {novalidate: "novalidate", id: 'website-form'}}) }}
            <div class="card radius-top">
                <div class="card-body radius-top p-0">
                    <ul class="nav nav-tabs custom-tab large radius-top" role="tablist">
                        {% for tabId, config in tabs %}
                            <li class="nav-item">
                                <a id="nav-{{ tabId }}-tab" class="nav-link{% if loop.first %} active{% endif %}" data-bs-toggle="tab" href="#{{ tabId }}" role="tab" aria-selected="{{ loop.first }}">
                                    {{ config.icon|icon(17, 17, 'dark me-sm-2') }}
                                    <span class="d-none d-sm-inline-block">{{ config.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for tabId, config in tabs %}
                            <div class="tab-pane me-4 ms-4 pt-4{% if loop.first %} active{% endif %}" id="{{ tabId }}" role="tabpanel" aria-labelledby="nav-{{ tabId }}-tab">
                                {% include 'admin/page/website/include/website/'~tabId~'.html.twig' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% include 'admin/core/form/save/footer-only.html.twig' %}
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}