{% extends 'front/'~website.configuration.template~'/base.html.twig' %}

{% import 'core/webmaster-edit.html.twig' as macroWebmaster %}

{% trans_default_domain 'front_default' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front-'~websiteTemplate~'-'~templateName, null, webpack) }}
    <link rel="modulepreload" href="{{ preload(asset('build/front/'~websiteTemplate~'/front-'~websiteTemplate~'-'~templateName~'.js', webpack), {as: 'script', importance: 'low'}) }}" as="script" fetchpriority="low">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('front-'~websiteTemplate~'-'~templateName, null, webpack, {defer: true, nonce: csp_nonce()}) }}
{% endblock %}

{% block body %}

    {% set localeTemplate = 'front/'~websiteTemplate~'/template/include/'~entity.slug~'-'~app.request.locale~'.html.twig' %}
    {% set templateExist = (localeTemplate)|fileExist %}
    {% set localeTemplate = templateExist ? localeTemplate : 'front/'~websiteTemplate~'/template/include/'~entity.slug~'-en.html.twig' %}
    {% set templateExist = (localeTemplate)|fileExist %}
    {% set legacy = website.information.legals %}
    {% set companyName = legacy.companyName is defined and legacy.companyName ? legacy.companyName : null %}
    {% set companyRepresentativeName = legacy.companyRepresentativeName is defined and legacy.companyRepresentativeName ? legacy.companyRepresentativeName : null %}
    {% set capital = legacy.capital is defined and legacy.capital ? legacy.capital : null %}
    {% set vatNumber = legacy.vatNumber is defined and legacy.vatNumber ? legacy.vatNumber : null %}
    {% set siretNumber = legacy.siretNumber is defined and legacy.siretNumber ? legacy.siretNumber : null %}
    {% set commercialRegisterNumber = legacy.commercialRegisterNumber is defined and legacy.commercialRegisterNumber ? legacy.commercialRegisterNumber : null %}
    {% set companyAddress = legacy.companyAddress is defined and legacy.companyAddress ? legacy.companyAddress : null %}
    {% set managerName = legacy.managerName is defined and legacy.managerName ? legacy.managerName : null %}
    {% set managerEmail = legacy.managerEmail is defined and legacy.managerEmail ? legacy.managerEmail : null %}
    {% set webmasterName = legacy.webmasterName is defined and legacy.webmasterName ? legacy.webmasterName : null %}
    {% set webmasterEmail = legacy.webmasterEmail is defined and legacy.webmasterEmail ? legacy.webmasterEmail : null %}
    {% set hostName = legacy.hostName is defined and legacy.hostName ? legacy.hostName : null %}
    {% set hostAddress = legacy.hostAddress is defined and legacy.hostAddress ? legacy.hostAddress : null %}
    {% set protectionOfficerName = legacy.protectionOfficerName is defined and legacy.protectionOfficerName ? legacy.protectionOfficerName : null %}
    {% set protectionOfficerEmail = legacy.protectionOfficerEmail is defined and legacy.protectionOfficerEmail ? legacy.protectionOfficerEmail : null %}
    {% set protectionOfficerAddress = legacy.protectionOfficerAddress is defined and legacy.protectionOfficerAddress ? legacy.protectionOfficerAddress : null %}
    {% set updatedAt = legacy.updatedAt is defined and legacy.updatedAt ? legacy.updatedAt : null %}
    {% set updatedAt = not updatedAt and legacy.createdAt is defined and legacy.createdAt ? legacy.createdAt : updatedAt %}
    {% set updatedAt = updatedAt ? updatedAt|format_datetime(pattern='dd/MM/Y', locale=app.request.locale) : null %}
    {% set isCookiePage = 'cookies' in app.request.uri %}

    <div id="content-{{ templateName }}" class="template-page{% if not isCookiePage %} pb-lg-5{% endif %}">
        {% include 'front/'~websiteTemplate~'/layout.html.twig' %}
        {% if templateExist %}
            <section class="layout-zone text-block pt-lg pb-lg">
                <div class="container position-relative">
                    <div class="row row-container">
                        <div class="col-12">
                            {{ macroWebmaster.box({
                                title: "Éditer les informations"|trans([], 'front_webmaster'),
                                role: 'ROLE_EDIT',
                                path: path('admin_information_edit', {website: website.id, information: website.information.id, tab: 'legal-notice'})
                            }) }}
                            {% include localeTemplate %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>

    {% if isCookiePage %}
        {{ render_esi(path('front_gdpr_legacy')) }}
    {% endif %}

{% endblock %}