{% trans_default_domain 'admin' %}

{% set configuration = website().configuration %}
{% set defaultLocale = configuration.locale %}
{% set allLocales = configuration.allLocales %}

{% if allLocales|length > 1 %}
    <div class="locales-tab-container">
        <div class="row m-0">
{% endif %}
    {% if allLocales|length > 1 %}
        <ul class="nav nav-tabs w-100" role="tablist">
            {% for mediaRelation in mediaRelations %}
                {% set locale = mediaRelation.locale %}
                <li class="nav-item{% if locale not in allLocales %} d-none{% endif %}" data-bs-toggle="tooltip" title="{{ languageName(locale, app.user.locale) }}">
                    <a class="nav-link{% if locale == defaultLocale %} active{% endif %}" data-bs-toggle="tab"
                       id="media-relation-intl-{{ locale~'-'~mediaRelation.id }}-tab"
                       aria-selected="{% if locale == defaultLocale %}true{% else %}false{% endif %}"
                       href="#media-relation-intl-tab-{{ locale~'-'~mediaRelation.id }}" role="tab">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ asset('/medias/icons/flags/'~locale~'.svg') }}" class="img-fluid lazy-load" height="14" width="19" alt="flag">
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if allLocales|length > 1 %}
        <div class="tab-content tab-content-border w-100">
    {% endif %}
        {% for mediaRelation in mediaRelations %}
            {% set locale = mediaRelation.locale %}
            {% if allLocales|length == 1 and locale != configuration.locale %}
                <div class="d-none">
            {% endif %}
            {% if allLocales|length > 1 %}
                <div id="media-relation-intl-tab-{{ locale~'-'~mediaRelation.id }}" class="tab-pane fade{% if locale == defaultLocale %} show active{% endif %}" role="tabpanel" aria-labelledby="media-relation-intl-{{ locale~'-'~mediaRelation.id }}-tab">
                    <div class="p-20 pb-0">
            {% endif %}
                {{ render_esi(path('admin_mediarelation_edit', {
                    website: websiteId(),
                    mediarelation: mediaRelation.id,
                    screen: screen is defined ? screen : null,
                    entityNamespace: app.request.get('entityNamespace'),
                    referEntityId: referEntityId is defined ? referEntityId : null,
                    formOptions: formOptions is defined ? formOptions : null,
                })) }}
            {% if allLocales|length > 1 %}
                    </div>
                </div>
            {% endif %}
            {% if allLocales|length == 1 and locale != configuration.locale %}
                </div>
            {% endif %}
        {% endfor %}
    {% if allLocales|length > 1 %}
        </div>
    {% endif %}
{% if allLocales|length > 1 %}
        </div>
    </div>
{% endif %}