{% trans_default_domain 'front_webmaster' %}

{% set bottom = true %}
{% set website = website is defined ? website : website() %}
{% set isUserFront = isUserFront(app.user) %}

{% if this.toolbox.allowIp or this.toolbox.userAllowed %}
    <div {{ attributes }}>
        {% if this.toolbox.allowIp and not this.toolbox.userAllowed and not isUserFront %}
            <div id="webmaster-box" class="d-none{% if bottom %} bottom{% endif %}">
                <a href="{{ path('security_login') }}"
                   class="btn btn-primary webmaster-btn btn-login align-items-center justify-content-center"
                   data-bs-toggle="tooltip"
                   data-bs-placement="right"
                   data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                   title="{{ "Connectez-vous"|trans|striptags }}"
                   aria-label="{{ "Connectez-vous"|trans|striptags }}"
                   target="_blank">
                    <i class="icw-power-off"></i>
                </a>
            </div>
        {% elseif this.toolbox.userAllowed and not isUserFront %}
            <div id="webmaster-box" class="d-none{% if bottom %} bottom{% endif %}">
                <div class="btn-group">
                    <div id="webmaster-box-wrapper"
                          class="d-inline-block"
                          data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          data-bs-custom-class="webmaster-tooltip bs-tooltip-end">
                    <button id="webmaster-box-dropdown"
                            aria-label="{{ "Ouvrir"|trans|striptags }}"
                            type="button"
                            class="btn btn-secondary dropdown-toggle align-items-center justify-content-center"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="icw-times"></i>
                    </button>
                    <div class="dropdown-menu">
                        {% set interfaceName = this.toolbox.interfaceName %}
                        {% set website = this.toolbox.website %}
                        {% set configuration = website.configuration %}
                        {% set entityId = this.toolbox.entityId %}
                        {% set layoutRoute = 'admin_'~interfaceName~'_layout' %}
                        {% set editRoute = 'admin_'~interfaceName~'_edit' %}
                        {% set layoutRouteExist = routeExist(layoutRoute) %}
                        {% set editRouteExist = routeExist(editRoute) %}
                        {% set btnRoute = layoutRouteExist ? layoutRoute : (editRouteExist ? editRoute : null) %}
                        {% if interfaceName and btnRoute and entityId %}
                            <a href="{{ path(btnRoute, this.toolbox.btnEditionArgs) }}"
                               class="btn btn-primary webmaster-btn align-items-center justify-content-center"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                               title="{{ "Éditer la page"|trans|striptags }}"
                               aria-label="{{ "Éditer la page"|trans|striptags }}"
                               target="_blank">
                                <i class="icw-pencil-alt"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('admin_dashboard', {website: website.id}) }}"
                               class="btn btn-primary webmaster-btn align-items-center justify-content-center"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                               title="{{ "Accéder à l'administration"|trans|striptags }}"
                               aria-label="{{ "Accéder à l'administration"|trans|striptags }}"
                               target="_blank">
                                <i class="icw-briefcase"></i>
                            </a>
                        {% endif %}
                        {% if interfaceName not in ['catalogproduct', 'newscast'] %}
                            <a href="#" id="webmaster-edit-btn"
                               class="btn btn-primary webmaster-btn align-items-center justify-content-center"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                               title="{{ "Afficher les boutons d'éditions"|trans|striptags }}"
                               aria-label="{{ "Afficher les boutons d'éditions"|trans|striptags }}">
                                <i class="icw-eye"></i>
                            </a>
                        {% endif %}
                        {% if granted('ROLE_SEO') and url.id is defined %}
                            <a href="{{ path('admin_seo_edit', {website: website.id, entitylocale: app.request.locale, url: url.id}) }}"
                               class="btn btn-primary webmaster-btn align-items-center justify-content-center"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                               title="{{ "Éditer le réfencement"|trans|striptags }}"
                               aria-label="{{ "Éditer le réfencement"|trans|striptags }}"
                               target="_blank">
                                <i class="icw-chart-line"></i>
                            </a>
                        {% endif %}
                        {% if granted('ROLE_ALLOWED_TO_SWITCH') and 'secure-page'|moduleActive(configuration) %}
                            <a id="users-switcher-btn"
                               class="btn btn-primary webmaster-btn cursor align-items-center justify-content-center"
                               title="{{ "Afficher le commutateur d'utilsateurs"|trans|striptags }}"
                               aria-label="{{ "Afficher le commutateur d'utilsateurs"|trans|striptags }}"
                               data-path="{{ path('admin_user_switcher', {website: website.id, type: 'front'}) }}"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end">
                                <i class="icw-users"></i>
                            </a>
                        {% endif %}
                        {% if is_granted('IS_IMPERSONATOR') %}
                            <a href="{{ impersonation_exit_path(path('front_index')) }}"
                               class="btn btn-primary webmaster-btn align-items-center justify-content-center"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                               title="{{ "Reconnectez-vous en tant qu'administrateur"|trans|striptags }}"
                               aria-label="{{ "Reconnectez-vous en tant qu'administrateur"|trans|striptags }}">
                                <i class="icw-repeat"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('app_logout') }}"
                               class="btn btn-primary webmaster-btn align-items-center justify-content-center"
                               title="{{ "Déconnectez-vous"|trans|striptags }}"
                               aria-label="{{ "Déconnectez-vous"|trans|striptags }}"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end">
                                <i class="icw-power-off"></i>
                            </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% elseif is_granted('IS_IMPERSONATOR') %}
            <div id="webmaster-box"{% if bottom %} class="bottom"{% endif %}>
                <a href="{{ impersonation_exit_path(path('front_index')) }}"
                   class="btn btn-primary webmaster-btn align-items-center justify-content-center"
                   data-bs-toggle="tooltip"
                   data-bs-placement="right"
                   data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                   title="{{ "Reconnectez-vous en tant qu'administrateur"|trans|striptags }}"
                   aria-label="{{ "Reconnectez-vous en tant qu'administrateur"|trans|striptags }}">
                    <i class="icw-repeat"></i>
                </a>
            </div>
        {% elseif granted('ROLE_SECURE_PAGE') and isUserFront %}
            <div id="webmaster-box" class="as-user-front d-none{% if bottom %} bottom{% endif %}">
                <div class="btn-group">
                    <div id="webmaster-box-wrapper"
                         class="d-inline-block"
                         data-bs-toggle="tooltip"
                         data-bs-placement="right"
                         data-bs-custom-class="webmaster-tooltip bs-tooltip-end">
                        <button id="webmaster-box-dropdown"
                                aria-label="{{ "Ouvrir"|trans|striptags }}"
                                type="button"
                                class="btn btn-secondary dropdown-toggle align-items-center justify-content-center"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="icw-times"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a href="{{ path('security_front_dashboard') }}"
                               class="btn btn-secondary webmaster-btn align-items-center justify-content-center"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                               title="{{ "Tableau de bord"|trans|striptags }}"
                               aria-label="{{ "Tableau de bord"|trans|striptags }}">
                                <i class="icw-tachometer-alt"></i>
                            </a>
                            <a href="{{ path('app_logout') }}"
                               class="btn btn-secondary webmaster-btn align-items-center justify-content-center"
                               data-bs-toggle="tooltip"
                               data-bs-placement="right"
                               data-bs-custom-class="webmaster-tooltip bs-tooltip-end"
                               title="{{ "Déconnectez-vous"|trans|striptags }}"
                               aria-label="{{ "Déconnectez-vous"|trans|striptags }}">
                                <i class="icw-power-off"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}