{% extends "admin/base.html.twig" %}

{% trans_default_domain 'admin' %}

{% set pageTitle = "URLS archivées"|trans %}
{% block title %}{{ pageTitle|htmlEntities }}{% endblock %}
{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-seo', null, 'admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% if not archive %}
        {% include 'admin/include/alert.html.twig' with {display: "alert", alert: "info", message: "Aucune URL archivée."|trans} only %}
    {% endif %}

    {% set domains = {} %}
    {% for websiteLocale in allLocales %}
        {% set localeDomain = websiteLocale|domain %}
        {% if localeDomain %}
            {% set domains = {(websiteLocale): localeDomain}|merge(domains) %}
        {% endif %}
    {% endfor %}

    {% for label, urls in archive %}
        <div class="card urls-archived-card">
            <div class="card-body">
                <h4 class="card-title float-start">
                    {{ label }}
                    <button class="index-delete-show btn btn-info-lighten btn-md ms-3" data-bs-toggle="tooltip"
                            title="{{ "Afficher les cases à cocher de suppression"|trans|striptags }}"
                            data-display="{{ "Afficher les cases à cocher de suppression"|trans|striptags }}"
                            data-hide="{{ "Masquer"|trans|striptags }}">{{ 'fas trash'|icon(null, 14, 'dark') }}</button>
                    <button class="index-delete-submit btn btn-danger ms-3 d-none" data-bs-toggle="tooltip" title="{{ "Supprimer la sélection"|trans|striptags }}">{{ 'fas trash'|icon(null, 14, 'white') }}</button>
                </h4>
                <table class="table table-striped mb-4">
                    <thead>
                        <th>{{ "Nom d'administration"|trans }}</th>
                        <th>{{ "URL code"|trans }}</th>
                        {% if 'delete'|moduleActive(configuration) or 'edit'|moduleActive(configuration) %}
                            <th class="text-end">
                                {% if 'delete'|moduleActive(configuration) %}
                                    <div class="delete-index-all-wrap custom-control custom-checkbox float-end ms-3 d-none" data-bs-toggle="tooltip"
                                         title="{{ "Tout cocher"|trans|striptags }}"
                                         data-checked="{{ "Tout cocher"|trans|striptags }}"
                                         data-unchecked="{{ "Tout décocher"|trans|striptags }}">
                                        <input type="checkbox" class="custom-control-input delete-index-all" id="delete-index-all-{{ loop.index }}">
                                        <label class="custom-control-label" for="delete-index-all-{{ loop.index }}"></label>
                                    </div>
                                {% endif %}
                                {{ "Actions"|trans }}
                            </th>
                        {% endif %}
                    </thead>
                    <tbody>
                    {% for url in urls %}
                        <tr id="entity-row-{{ url.entity.id }}" class="delete-pack-parent-row">
                            <td class="align-middle">
                                {% if url.entity.adminName is defined and url.entity.adminName %}
                                    {{ url.entity.adminName }}
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                <ul class="reset">
                                    {% for entityUrl in url.entity.urls %}
                                        <li class="italic">
                                            <small class="text-info-darken">
                                                {% if allLocales|length > 1 %}
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                         data-src="{{ asset('/medias/icons/flags/'~entityUrl.locale~'.svg') }}"
                                                         data-bs-toggle="tooltip" title="{{ entityUrl.locale|languageName }}"
                                                         class="img-fluid lazy-load me-2" height="11" width="15">
                                                {% endif %}
                                                {% if domains[entityUrl.locale] is defined %}{{ domains[entityUrl.locale] }}{% endif %}{{ url.uri }}
                                            </small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {% if 'delete'|moduleActive(configuration) or 'edit'|moduleActive(configuration) %}
                                <td class="align-middle text-end">
                                    {% if 'edit'|moduleActive(configuration) %}
                                        {% set path = path('admin_url_archive_restore', {
                                            website: websiteId(),
                                            classname: url.interface.classname|url_encode,
                                            id: url.entity.id
                                        }) %}
                                        <a href="{{ path }}"
                                           data-bs-toggle="tooltip" title="{{ url.restore|striptags }}"
                                           data-target="#entity-row-{{ url.entity.id }}">
                                            {{ 'fal redo-alt'|icon(null, 14, 'dark') }}
                                        </a>
                                    {% endif %}
                                    {% if 'delete'|moduleActive(configuration) %}
                                        {% set path = path('admin_url_archive_delete', {
                                            website: websiteId(),
                                            classname: url.interface.classname|url_encode,
                                            id: url.entity.id
                                        }) %}
                                        <a href="{{ path }}"
                                           data-bs-toggle="tooltip" title="{{ url.delete|striptags }}"
                                           data-target="#entity-row-{{ url.entity.id }}"
                                           class="swal-delete-link ms-3">
                                            {{ 'fas trash'|icon(null, 14, 'dark') }}
                                        </a>
                                        <div class="custom-control custom-checkbox delete-input-index-wrap ms-3 d-none position-relative">
                                            <input type="checkbox" class="custom-control-input delete-input-index" id="delete-input-{{ url.entity.id }}"
                                                   data-path="{{ path }}">
                                            <label class="custom-control-label" for="delete-input-{{ url.entity.id }}"></label>
                                        </div>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endblock %}