{% trans_default_domain 'admin' %}

<div class="cols-sortable row">

    {% if zone.cols|length > 0 %}
        {% for col in zone.cols %}
            <div id="col-{{ col.id }}" class="col-sortable col-md-{{ col.size }} mb-3"
                 data-size-class="col-md-{{ col.size }}"
                 data-position="{{ col.position }}"
                 data-id="{{ col.id }}">
                <div class="resizable ui-widget-content h-100">
                    <div class="column h-100 ui-state-default"
                         id="col_{{ col.id }}"
                         data-id="{{ col.id }}"
                         data-position="{{ col.position }}">
                        <div class="portlet h-100">
                            <div class="header w-100 text-end">
                                <div class="col-actions text-end">

                                    {% if 'edit'|moduleActive(configuration) %}
                                        <span data-bs-toggle="tooltip"
                                              title="{{ "Configuration"|trans|striptags }}"
                                              data-path="{{ path('admin_col_configuration', {website: websiteId(), col: col.id}) }}"
                                              class="item edit-layout-element-btn">
                                            <button class="btn btn-action"><i class="icm-cog-reg"></i></button>
                                        </span>
                                    {% endif %}

                                    {% if 'col-edit'|moduleActive(configuration) %}
                                        {% set mediaRelation = col.mediaRelations is defined ? col.mediaRelations|intl(website().configuration.locale) : null %}
                                        <span data-toggle="preloader" class="position-relative col-img-bulle-wrap d-inline-block">
                                            {% if mediaRelation and mediaRelation.media and mediaRelation.media.filename %}
                                                <span style="background: url({{ asset(mediaRelation|file({}, {path: true})) }})" class="image-info-bulle"></span>
                                            {% endif %}
                                            <a href="{{ path('admin_col_edit', {website: websiteId(), zone: zone.id, col: col.id, interfaceName: interface.name, interfaceEntity: entity.id}) }}"
                                               class="btn position-relative btn-action" data-bs-toggle="tooltip" title="{{ "Image de fond"|trans|striptags }}">
                                                <i class="icm-image"></i>
                                            </a>
                                        </span>
                                    {% endif %}

                                    {% if 'edit'|moduleActive(configuration) %}
                                        <span class="item background-col-item background-item d-inline-block">
                                            {% set color = 'background'|color(website(), col.backgroundColor) %}
                                            {% set hexa = color.color is defined and color.color ? color.color : col.hexadecimalCode %}
                                            <span class="color-info-bulle"{% if hexa %} style="background-color: {{ hexa }}" {% endif %}></span>
                                            <span class="btn edit-layout-element-btn btn-palette btn-action cursor"
                                               data-path="{{ path('admin_col_background', {website: websiteId(), col: col.id}) }}"
                                               data-bs-toggle="tooltip"
                                               title="{{ "Couleur de fond"|trans|striptags }}">
                                                <i class="icm-palette"></i>
                                            </span>
                                        </span>
                                    {% endif %}

                                    {% if 'edit'|moduleActive(configuration) and interface.resize is defined and interface.resize %}
                                        {% set isStandardize = col.standardizeElements %}
                                        {% set standardizeAction = isStandardize ? "Largeur par défaut des blocs"|trans : "Uniformiser la largeur des blocs"|trans %}
                                        {% set standardize = isStandardize ? 'true' : 'false' %}
                                        <span data-bs-toggle="tooltip" title="{{ standardizeAction|striptags }}" data-placement="right" class="item">
                                            <a class="btn btn-action col-blocks-standardize cursor"
                                               data-col="{{ col.id }}"
                                               data-standardize="{{ standardize }}"
                                               data-cols-default="{{ "Largeur par défaut des blocs"|trans }}"
                                               data-cols-standardize="{{ "Uniformiser la largeur des blocs"|trans }}">
                                                <span class="icon-wrap{% if isStandardize %} d-none{% endif %}">
                                                    <i class="icm-indent"></i>
                                                </span>
                                                <span class="icon-wrap{% if not isStandardize %} d-none{% endif %}">
                                                    <i class="icm-outdent"></i>
                                                </span>
                                            </a>
                                        </span>
                                    {% endif %}

                                    {% if 'delete'|moduleActive(configuration) %}
                                        <span href="{{ path('admin_col_delete', {website: websiteId(), zone: zone.id, col: col.id}) }}"
                                           data-bs-toggle="tooltip" title="{{ "Supprimer"|trans|striptags }}"
                                           data-target="#col-{{ col.id }}"
                                           data-type="stay"
                                           class="btn btn-action swal-delete-link cursor">
                                            <i class="icm-trash"></i>
                                        </span>
                                    {% endif %}

                                    {% if col.hide %}
                                        <span class="item btn btn-action"
                                              data-bs-toggle="tooltip"
                                              data-placement="right" title="{{ "Colonne désactivée"|trans|striptags }}">
                                            <i class="icm-ban text-danger"></i>
                                        </span>
                                    {% endif %}

                                    {% if 'edit'|moduleActive(configuration) %}
                                        <span class="item handle-col grabbable btn btn-action"
                                              data-bs-toggle="tooltip" title="{{ "Déplacer"|trans|striptags }}">
                                            <i class="icm-arrows-alt"></i>
                                        </span>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="portlet-content portlet-block pe-3 ps-3 w-100">
                                {% include 'admin/core/layout/blocks.html.twig' %}
                            </div>
                            {% if 'edit'|moduleActive(configuration) and layoutConfiguration is defined and layoutConfiguration %}
                                <div class="add-block-wrap w-100 pe-3 ps-3 pt-2 text-center">
                                    <span class="edit-layout-element-btn btn btn-info add-block-btn cursor d-inline-flex justify-content-center align-items-center"
                                          data-path="{{ path('admin_block_modal', {
                                              website: websiteId(),
                                              col: col.id,
                                              configuration: layoutConfiguration.id,
                                              entityId: entity.id,
                                          }) }}">
                                        <i class="icm-plus-circle"></i>
                                    </span>
                                    <span class="btn-resize btn-resize-col btn-white btn-xs btn-circle"><i class="icm-arrow-from-right"></i></span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if 'edit'|moduleActive(configuration) %}
        <div class="col-12 d-inline-flex align-items-end">
            <button data-path="{{ path('admin_col_new', {website: websiteId(), zone: zone.id}) }}"
                    class="btn new-col-btn edit-layout-element-btn w-100 mb-3">
                <img data-src="{{ asset('build/admin/images/theme/plus-rounded.svg', 'admin') }}"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     class="img-fluid rounded-add-img lazy-load"
                     width="20" height="20" alt="{{ 'Ajouter'|trans|striptags }}" /><br>
                {{ 'Ajouter une colonne'|trans }}
            </button>
        </div>
    {% endif %}

</div>