{% if entity.recaptcha %}
    <div class="row">
        <div class="col-12">
            {% if form['field_ho'] is defined %}
                {{ form_label(form['field_ho']) }}
                {{ form_widget(form['field_ho']) }}
            {% endif %}
            {% if form['field_ho_entitled'] is defined %}
                {{ form_label(form['field_ho_entitled']) }}
                {{ form_widget(form['field_ho_entitled']) }}
            {% endif %}
        </div>
    </div>
    <div class="form-data" data-id="{{ entity.securityKey }}" data-website="{{ websiteId() }}"></div>
{% endif %}