{% trans_default_domain 'front_js_plugins' %}

{% set formatDate = app.request.locale|formatDate %}

<div id="data-translation" class="d-none"
     data-phone-map="{{ "Tel."|trans }}"
     data-required-field="{{ "Champs obligatoire"|trans }}"
     data-email-field="{{ "E-mail invalide"|trans }}"
     data-format-datetime="{{ formatDate.dateTime }}"
     data-format-date="{{ formatDate.dateLarge }}"
     data-format-time="{{ formatDate.time }}"
     data-format-datepicker="{{ formatDate.datepickerJS }}"
     data-format-input="{{ formatDate.inputDate }}"
     data-close="{{ "Fermer"|trans|raw }}"
     data-deselect="{{ "Désélectionner"|trans|raw }}"
     data-ok="{{ "OK"|trans|raw }}"
     data-validate="{{ "Valider"|trans|raw }}"
     data-clear="{{ "Éffacer"|trans|raw }}"
     data-now="{{ "Maintenant"|trans|raw }}"
     data-search="{{ "Rechercher"|trans|raw }}"
     data-loading="{{ "Chargement en cours..."|trans|raw }}"
     data-previous="{{ "Précédent"|trans|raw }}"
     data-next="{{ "Suivant"|trans|raw }}"
     data-img-error="{{ "L'image n'a pas pu être chargée."|trans|raw }}"
     data-content-error="{{ "Le contenu n'a pas pu être chargé."|trans|raw }}"
     data-dropify-default="{{ "Glissez et déposez un fichier ici ou cliquez"|trans|striptags }}"
     data-dropify-replace="{{ "Glissez et déposez un fichier ici ou cliquer pour remplacer"|trans|striptags }}"
     data-dropify-remove="{{ "Supprimer"|trans|striptags }}"
     data-dropify-error="{{ "Oups, une erreur est survenue."|trans|striptags }}"
     data-dropify-file-size="{{ "La taille du fichier est trop grande."|trans|striptags }}"
     data-dropify-min-width="{{ "La largeur de l'image est trop petite."|trans|striptags }}"
     data-dropify-max-width="{{ "La largeur de l'image est trop grande."|trans|striptags }}"
     data-dropify-min-height="{{ "La hauteur de l'image est trop petite."|trans|striptags }}"
     data-dropify-max-height="{{ "La hauteur de l'image est trop grande."|trans|striptags }}"
     data-dropify-image-format="{{ "Le format d'image n'est pas autorisé."|trans|striptags }}"
     data-dropify-file-extension="{{ "Le fichier n'est pas autorisé."|trans|striptags }}"
     data-choices-no-result="{{ "Aucun résultat"|trans|striptags }}"
></div>