{% trans_default_domain 'front_default' %}

{% if not user.confirmEmail %}
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger">
            <strong class="me-auto text-white">{{ "Confimez votre compte"|trans|raw }}</strong>
            <button class="btn-close btn-close-white text-white" data-bs-dismiss="toast" aria-label="{{ "Fermer"|trans|raw }}"></button>
        </div>
        <div class="toast-body bg-white">
            <small class="mb-2 d-inline-block w-100">{{ "Un e-mail de confirmation vous a été envoyé. Pour activer votre compte vous devrez cliquer sur le lien de cet e-mail."|trans|raw }}</small>
            <small class="d-inline-block w-100">
                {{ "Si vous n'avez pas reçu cet email, cliquez sur le lien suivant pour en recevoir un nouveau :"|trans|raw }}
                <a href="{{ path('security_front_resend_email') }}" class="text-warning">{{ "Renvoyer moi un e-mail"|trans|raw }}</a>
            </small>
        </div>
    </div>
{% endif %}