{% trans_default_domain 'admin' %}

<li>
    <a class="as-arrow" href="javascript:void(0)" aria-expanded="false">
        {{ 'fal bug'|icon(17, 15, 'white me-2', {icon: true}) }}
        <span class="hide-menu">{{ "Debug"|trans }}</span>
    </a>
    <ul aria-expanded="false" class="collapse bg-info-light">
        <li>
            <a href="{{ path('bin_debug', {service: 'autowiring'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Autowiring"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('bin_debug', {service: 'config'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Config"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('bin_debug', {service: 'container'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Container"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('bin_debug', {service: 'event-dispatcher'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Event dispatcher"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('bin_debug', {service: 'form'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Form"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('bin_debug', {service: 'router'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Router"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('bin_debug', {service: 'swiftmailer'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Swiftmailer"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('bin_debug', {service: 'translation'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Translation"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('bin_debug', {service: 'twig'}) }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Twig"|trans }}</span>
            </a>
        </li>
    </ul>
</li>