{% trans_default_domain 'admin' %}

<li>
    <a class="as-arrow" href="javascript:void(0)" aria-expanded="false">
        {{ 'fal link'|icon(15, 15, 'white me-2', {icon: true}) }}
        <span class="hide-menu">{{ "Routing JS"|trans }}</span>
    </a>
    <ul aria-expanded="false" class="collapse bg-info-light">
        <li>
            <a href="{{ path('js_routing_dump') }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Générer les routes"|trans }}</span>
            </a>
        </li>
        <li>
            <a href="{{ path('js_routing_debug') }}" data-toggle="preloader">
                <span class="hide-menu">{{ "Debug"|trans }}</span>
            </a>
        </li>
    </ul>
</li>