<p>Diese Cookie-Richtlinie wurde am {% if updatedAt %}{{ updatedAt|raw }}{% else %}<span class="text-danger bold">../../....</span>{% endif %} aktualisiert.</p>
<p>{% if companyName %}{{ companyName|raw }}{% else %}<span class="text-danger bold">Raison sociale</span>{% endif %} legt großen Wert auf den Schutz der Privatsphäre der Nutzer und seine Verpflichtungen in Übereinstimmung mit den geltenden gesetzlichen Bestimmungen.</p>
<p>Beim Besuch unserer Website <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a> können Informationen über die Browsing-Daten, die wir von Ihrem Datenendgerät (Computer, Handy, Tablet usw.) erhalten, in "Cookies" gespeichert werden, die auf Ihrem Gerät installiert sind.</p>
<p>Diese Seite macht es einfacher zu verstehen, wie Cookies funktionieren und wie Sie Ihre Einstellungen verwalten können.</p>
<h2 class="my-4 d-inline-block w-100">1 - What is a « cookie »?</h2>
<p>Ein "Cookie" ist eine Textdatei, die vorbehaltlich Ihrer vorherigen Zustimmung an einem bestimmten Ort auf der Festplatte Ihres Datenendgeräts gespeichert werden kann, wenn Sie über Ihren Webbrowser einen Online-Dienst besuchen. Eine Cookie-Datei ermöglicht es dem Aussteller des Cookies, das Datenendgerät, auf dem sie gespeichert ist, während der gesamten Gültigkeitsdauer oder Registrierung des Cookies zu identifizieren. Nur der Aussteller eines Cookies ist in der Lage, die in einem solchen Cookie enthaltenen Informationen zu lesen oder zu ändern.</p>
<h2 class="my-4 d-inline-block w-100">2 - Wie werden die von <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a> ausgegebenen Cookies verwendet?</h2>
<p><u>Die Cookies, die wir auf unserer Website verwenden</u>
    <br>Vorbehaltlich Ihrer Entscheidung, Cookies zuzulassen, können wir, wenn Sie unsere Website öffnen, verschiedene Cookies auf Ihrem Datenträger installieren, die es uns ermöglichen, den Browser Ihres Geräts für die Dauer der Gültigkeit der Cookies zu erkennen.</p>
<p>Die von uns vergebenen Cookies werden für die unten beschriebenen Zwecke verwendet:<br></p>
<ul>
    <li>die Darstellung unserer Website während Ihres Besuchs an die Anzeigeeinstellungen Ihres Endgeräts (Sprache, Bildschirmauflösung, Betriebssystem usw.) anzupassen, und zwar auf der Grundlage der Hardware Ihres Datenendgeräts, der Betrachtungssoftware und der Videosoftware;</li>
    <li>Informationen zu speichern, die in Formularen enthalten sind, die Sie auf unserer Website ausfüllen (für die Registrierung oder den Zugang zu einem Konto usw.) oder die sich auf Produkte, Dienstleistungen oder Informationen beziehen, die Sie auf unserer Website ausgewählt haben (Inhalt des Einkaufswagens usw.);</li>
    <li>Authentifizierung auf unserer Website, insbesondere um Ihnen den Zugang zu eingeschränkten und personalisierten Bereichen unserer Website, wie z. B. Ihrem Konto, auf der Grundlage von Benutzernamen, Passwörtern und anderen Daten, zu denen Sie uns zuvor Zugang gewährt haben, zu ermöglichen;</li>
    <li>Installieren Sie Sicherheitsmaßnahmen, wie z. B. die Notwendigkeit, sich nach einer bestimmten Zeit wieder einzuloggen, um sicherzustellen, dass Sie bereit sind, auf der Website zu bleiben.</li>
</ul>
<p>Cookies, die von Dritten auf unserer Website gesetzt werden</p>
<p>Die Ausgabe und Verwendung von Cookies durch Dritte unterliegt dem Schutz der Datenschutzrichtlinien dieser Dritten.</p>
<p>Wir informieren Sie über den Zweck der uns bekannten Cookies und über die Möglichkeiten, die Sie haben, um diese Cookies zu akzeptieren oder abzulehnen.</p>
<ul>
    <li><i>Analyse-Cookies</i><br></li>
</ul>
<p>Unsere Website kann Cookies enthalten, die von Unternehmen für Publikumsmessungen ausgegeben werden. Während der Gültigkeitsdauer des Cookies ermöglichen es uns diese Cookies, Statistiken und Verkehrsaufkommen zu erstellen und die Nutzung der verschiedenen Bereiche Ihrer Website zu messen (besuchte Rubriken und Inhalte, Klickströme usw.), was uns hilft, den Wert und die Benutzerfreundlichkeit unserer Dienste zu verbessern.</p>
<ul>
    <li><i>Cookies aufgrund der Integration von Anwendungen Dritter auf unserer Website</i><br></li>
</ul>
<p>Es ist möglich, dass wir auf unserer Website Softwareanwendungen von Dritten einbinden, die es Ihnen ermöglichen, den Inhalt unserer Website mit anderen zu teilen oder andere über Ihren Besuch oder Ihre Meinung zum Inhalt unserer Website zu informieren. Dies gilt insbesondere für die Schaltflächen "Login mit LinkedIn" und ähnliche Schaltflächen in sozialen Netzwerken wie "LinkedIn" usw.</p>
<p>Die sozialen Netzwerke, die diese Schaltflächenanwendungen bereitstellen, können die Schaltfläche verwenden, um Sie zu identifizieren, auch wenn Sie diese Schaltfläche während Ihres Besuchs auf unserer Website nicht verwendet haben. In der Tat kann diese Art von Schaltflächenanwendung es dem betreffenden sozialen Netzwerk ermöglichen, Ihr Surfen auf unserer Website zu verfolgen, einfach weil Ihr Konto des sozialen Netzwerks während Ihres Besuchs auf unserer Website auf Ihrem Datenendgerät aktiv war (offene Sitzung).</p>
<p>Wir haben keine Kontrolle über die Verfahren, die von Dritten verwendet werden, um Informationen über Ihre Besuche auf unserer Website zu sammeln, und auch nicht über die damit verbundenen personenbezogenen Daten, die sie möglicherweise speichern. Wir laden Sie ein, die Datenschutzrichtlinien dieser sozialen Netzwerke zu lesen, um zu verstehen, welche Zwecke hinter der Sammlung von Browsing-Daten stehen, die sie über solche Schaltflächen sammeln können, insbesondere im Hinblick auf Werbung. Die Richtlinien der sozialen Netzwerke müssen es Ihnen ermöglichen, Ihre persönliche Wahl über Ihre Kontoeinstellungen zu treffen.</p>
<ul>
    <li><i>"Flash"-Cookies von "Adobe Flash Player"</i><br></li>
</ul>
<p>"Adobe Flash Player" ist eine Computeranwendung, die die schnelle Entwicklung von dynamischen Inhalten mit Hilfe der Informatiksprache "Flash" ermöglicht. "Flash" (und auch andere ähnliche Anwendungen) speichern die Parameter, die Nutzungspräferenzen und die Verwendung dieser Inhalte mit einer Technologie, die Cookies ähnelt. Allerdings verwaltet der "Adobe Flash Player" diese Informationen und Ihre Entscheidungen über eine andere Schnittstelle als die, die Ihr Website-Browser bietet. In Anbetracht der Tatsache, dass Ihr Gerät möglicherweise Inhalte anzeigt, die in der Sprache "Flash" entwickelt wurden, laden wir Sie ein, auf Ihre Verwaltungswerkzeuge für Flash-Cookies zuzugreifen, direkt auf www.adobe.com</p>
<h2 class="my-4 d-inline-block w-100">3 - Wie können Sie Ihre Cookie-Entscheidungen von <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a> ändern?</h2>
<p>Sie können Ihre Angaben jederzeit ändern, wie unten beschrieben.</p>
<p>Wir weisen Sie darauf hin, dass die von Ihnen gewählten Einstellungen Ihr Internet-Browsing-Erlebnis und die Bedingungen für Ihren Zugang zu Diensten, die die Verwendung von Cookies erfordern, verändern können.</p>
<p>Wir übernehmen keine Verantwortung für die Folgen, die sich aus der Beeinträchtigung des Betriebs unserer Dienste ergeben, wenn wir nicht in der Lage sind, die für das vollständige Funktionieren unserer Website und Dienste erforderlichen Cookies zu speichern oder anzuzeigen.</p>
<p>Ihre Wahlmöglichkeiten online ausgedrückt</p>
<p>Um mehr über die von Google Analytics angebotenen Dienste zu erfahren, klicken Sie hier: https://support.google.com/analytics/answer/6004245?hl=fr. Wenn Sie nicht möchten, dass Google Analytics Ihre Aktivitäten auf den von Ihnen besuchten Websites analysiert, können Sie das ergänzende Browsermodul installieren, um Google Analytics zu deaktivieren. Dadurch wird verhindert, dass der von Google Analytics auf Websites eingefügte JavaScript-Code (ga.js, analytics.js und dc.js) Informationen über Ihren Besuch weitergibt.</p>
<p>In diesem Fall laden wir Sie auch ein, die Datenschutzrichtlinien der sozialen Medien (LinkedIn, etc.) zu konsultieren, um Ihre Wahl zu den neuesten auszudrücken.</p>
<p>Die Möglichkeiten, die Sie über Ihren Browser haben</p>
<p>Jeder Browser hat eine andere Art der Verwaltung von Cookies und Cookie-Einstellungen. Die Konfiguration Ihres Browsers wird in seinem Hilfemenü beschrieben, das Sie darüber informiert, wie Sie Ihre Cookie-Einstellungen ändern können.</p>
<ul>
    <li>For Chrome™&nbsp;: <a href="https://support.google.com/chrome/answer/95647?hl=de" target="_blank" rel="noopener noreferrer">https://support.google.com/chrome/answer/95647?hl=de</a></li>
    <li>For Internet Explorer™&nbsp;: <a href="https://support.microsoft.com/de-de/windows/löschen-und-verwalten-von-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-11-w" target="_blank" rel="noopener noreferrer">https://support.microsoft.com/de-de/windows/löschen-und-verwalten-von-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-11-w</a></li>
    <li>For Edge™&nbsp;: <a href="https://support.microsoft.com/de-de/windows/microsoft-edge-browserdaten-und-datenschutz-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank" rel="noopener noreferrer">"https://support.microsoft.com/de-de/windows/microsoft-edge-browserdaten-und-datenschutz-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd</a></li>
    <li>For Firefox™&nbsp;: <a href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen" target="_blank" rel="noopener noreferrer">https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen</a></li>
    <li>For Opera™&nbsp;: <a href="https://help.opera.com/de/latest/web-preferences/#cookies" target="_blank" rel="noopener noreferrer">https://help.opera.com/de/latest/web-preferences/#cookies</a></li>
    <li>For Safari™&nbsp;: <a href="https://support.apple.com/kb/PH19214?locale=de" target="_blank" rel="noopener noreferrer">https://support.apple.com/kb/PH19214?locale=de</a></li>
</ul>
<h2 class="my-4 d-inline-block w-100">4 - Weitere Informationen über Cookies</h2>
<p>Sie können mehr über Cookies im Allgemeinen erfahren und darüber, wie Sie sie verwalten können, indem Sie die Website die DSGVO – Datenschutz-Grundverordnung <a href="https://dsgvo-gesetz.de" target="_blank" rel="noopener noreferrer">https://dsgvo-gesetz.de</a></p>