<p>This cookie policy as updated on {% if updatedAt %}{{ updatedAt|raw }}{% else %}<span class="text-danger bold">../../....</span>{% endif %}.</p>
<p>{% if companyName %}{{ companyName|raw }}{% else %}<span class="text-danger bold">Raison sociale</span>{% endif %} places great importance
    on the protection of user’s privacy and its obligations in accordance with the legal provisions in force.</p><p>
    While visiting our site <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a>, information
    about the browsing data we receive from
    your data terminal (computer, mobile, tablet, etc.) may be stored in "cookies" installed on your device.</p><p>This
    page makes it easier to understand how cookies work and how to manage your preferences.</p>
<br><h2 class="my-4 d-inline-block w-100">1 - What is a « cookie »?</h2>
<p>A « cookie » is a text file that can be stored, subject to your prior consent, in
    a dedicated space on the hard drive of your data terminal at the time of your visit to an online service through
    your web browser. A cookie file allows the cookie issuer to identify the data terminal in which it is stored
    throughout the cookie's period of validity or registration. Only the issuer of a cookie is likely to read or change
    the information contained in such cookie.<br></p>
<h2 class="my-4 d-inline-block w-100">2 - How are the cookies issued from <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a> used?</h2>
<p><u>The cookies we use on our site</u>
    <br>Subject to
    your choice to allow cookies, when you open our site, we may install various cookies in your data terminal allowing
    us to recognize your device’s browser for the duration of the cookies’ period of validity.</p>
<p>Cookies that we issue are used for the purposes described below:<br></p>
<ul>
    <li>customize the presentation of our site to the display settings of your terminal (language, screen resolution,
        operating system, etc.) during your visit, based on your data terminal’s hardware, viewing software and video
        software;
    </li>
    <li>store information contained in any form that you fill out on our site (for registration or account access, etc.)
        or relative to any products, services or information you have chosen on our site (shopping cart contents, etc.);
    </li>
    <li>authentication on our site, in particular to allow you to access restricted and personalized areas of our site,
        such as your account, based on user names, passwords and other data that you may have previously given us access
        to;
    </li>
    <li>Install security mesures, such as the need to reconnect yourself after a certain amount of time to ensure your
        willing presence on the website.
    </li>
</ul><p><u>Cookies issued on our site by third parties</u></p>
<p>The issue and use of cookies by third parties are
    subject to the protection of privacy policies of these third parties.<br></p>
<p>We will notify you of the purpose of
    cookies known to us and of the ways that you can choose to accept or reject these cookies.<br></p>
<ul>
    <li><i>Analytics cookies</i><br></li>
</ul>
<p>Our site may contain cookies issued by audience measurement companies. For the duration of the cookie's period
    of validity, such cookies allow us to compile statistics and traffic volume and measure the use of the various
    sections of your site (headings and content visited, click streams, etc.) which helps us improve the value and
    usability of our services.</p>
<ul>
    <li><i>Cookies due to integration of third-party applications on our website<br></i></li>
</ul>
<p>We are likely to include software applications from third parties on our site, which allow you to share the
    content of our site with others or to inform others about your visit or your opinion on the content of our site.
    This is particularly the case with the "Login with LinkedIn" buttons and alike, on social networks like "LinkedIn",
    etc.</p>
<p>The social networks that provide these button applications may use the button to identify you even if you
    have not used this button during your visit of our site. Indeed, this type of button application may allow the
    social network concerned to track your browsing of our site, simply because your social network account was active
    on your data terminal (open session) during your visit to our site.<br></p>
<p>We have no control over the processes
    used by third parties to compile information about your visits to our site nor any related personal data they may
    store. We invite you to review the protection of privacy policies of these social networks in order to understand
    the purposes behind the collection of browsing data they can compile through such buttons, especially as regards
    advertising. The policies of social networks must allow you to exercise your personal choice through your account
    settings.<br></p>
<ul>
    <li><i>"Flash" Cookies by "Adobe Flash Player"</i><br></li>
</ul>
<p>"Adobe Flash Player" is a computer app that enables the rapid development of dynamic content using the
    informatics language "Flash". "Flash" (and other similar apps as well) store the parameters, the using preferences
    and the use of these contents with a technology similar to cookies. However, "Adobe Flash Player" manages these
    information et your choices via a different interface than the one provided by your website browser. Regarding the
    fact that your device might visualize contents developed with "Flash" language, we invite your to access your
    management tools of Flash cookies, directly on www.adobe.com&nbsp;</p>
<h2 class="my-4 d-inline-block w-100">3 – How to amend your cookie choices issued from <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a>?&nbsp;</h2>
<p>You can amend your choices at any time, as described below.</p>
<p>We remind you that the settings that you use are likely to change your internet
    browsing experience and the conditions of your access to any services requiring the use of cookies.<br></p><p>We
    assume no responsibility for consequences related to the degraded operation of our services resulting from us not
    being able to store or view the cookies necessary for the full functioning of our site and services.<br></p><p><u>Your
        choices expressed online</u><br></p>
<p>To learn more about the services provided by Google Analytics, click here&nbsp;: https://support.google.com/analytics/answer/6004245?hl=fr. If you do not wish for Google Analytics to be able to
    analyze your activity on the websites you visit, feel free to install the complementary browser module to deactivate
    Google Analytics. It will prevent the JavaScript code (ga.js, analytics.js and dc.js) inserted by Google Analytics
    on websites from sharing information about your visit.&nbsp;<br></p>
<p>In that case, we also invite you to consult the privacy policies of social medias (LinkedIn, etc.) to express your choices to the latest.&nbsp;<br></p><p><u>The choices available to you through your browser</u><br></p>
<p>Each browser has a different way of managing cookies and cookie settings. The configuration of your browser is described in its help menu, which will inform you of how to change your cookie settings.<br></p>
<ul>
    <li>For Chrome™&nbsp;: <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" rel="noopener noreferrer">https://support.google.com/chrome/answer/95647?hl=en</a></li>
    <li>For Internet Explorer™&nbsp;: <a href="https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-11-w" target="_blank" rel="noopener noreferrer">https://support.microsoft.com/en-us/windows/delete-and-manage-cookies-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-11-w</a></li>
    <li>For Edge™&nbsp;: <a href="https://support.microsoft.com/en-us/windows/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank" rel="noopener noreferrer">https://support.microsoft.com/en-us/windows/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd</a></li>
    <li>For Firefox™&nbsp;: <a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox" target="_blank" rel="noopener noreferrer">https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox</a></li>
    <li>For Opera™&nbsp;: <a href="https://help.opera.com/en/latest/web-preferences/#cookies" target="_blank" rel="noopener noreferrer">https://help.opera.com/en/latest/web-preferences/#cookies</a></li>
    <li>For Safari™&nbsp;: <a href="https://support.apple.com/kb/PH19214?locale=en" target="_blank" rel="noopener noreferrer">https://support.apple.com/kb/PH19214?locale=en</a></li>
</ul>
<h2 class="my-4 d-inline-block w-100">4 – Further information about cookies</h2>
<p>You can learn more about cookies in general and how to manage them by visiting the National Commission of Informatics and Freedoms (CNIL) website, at following link&nbsp;: <a href="https://www.cnil.fr" target="_blank" rel="noopener noreferrer">www.cnil.fr</a></p>