{% trans_default_domain 'admin' %}

<ul class="infos-list reset text-italic">

    {% for property in columns %}

        {% if property in infosFields %}

            {% set fieldExist = entity.publishedAt is defined and entity.publishedAt %}
            {% if property == 'publishedAt' and fieldExist or property == 'infos' and fieldExist %}
                <li><small><b class="font-weight-600">{{ "Date de publication :"|trans }}</b> {{ entity.publishedAt|format_datetime(pattern="cccc dd MMMM Y", locale=app.request.locale) }}</small></li>
            {% endif %}

            {% set fieldExist = entity.publicationStart is defined and entity.publicationStart %}
            {% if property == 'publicationStart' and fieldExist or property == 'infos' and fieldExist %}
                <li><small><b class="font-weight-600">{{ "Début de publication :"|trans }}</b> {{ entity.publicationStart|format_datetime(pattern="cccc dd MMMM Y", locale=app.request.locale) }}</small></li>
            {% endif %}

            {% set fieldExist = entity.publicationEnd is defined and entity.publicationEnd %}
            {% if property == 'publicationEnd' and fieldExist or property == 'infos' and fieldExist %}
                <li><small><b class="font-weight-600">{{ "Fin de publication :"|trans }}</b> {{ entity.publicationEnd|format_datetime(pattern="cccc dd MMMM Y", locale=app.request.locale) }}</small></li>
            {% endif %}

            {% set fieldExist = entity.startDate is defined and entity.startDate %}
            {% if property == 'startDate' and fieldExist or property == 'infos' and fieldExist %}
                <li><small><b class="font-weight-600">{{ "Date de début :"|trans }}</b> {{ entity.startDate|format_datetime(pattern="cccc dd MMMM Y", locale=app.request.locale) }}</small></li>
            {% endif %}

            {% set fieldExist = entity.endDate is defined and entity.endDate %}
            {% if property == 'endDate' and fieldExist or property == 'infos' and fieldExist %}
                <li><small><b class="font-weight-600">{{ "Date de fin :"|trans }}</b> {{ entity.endDate|format_datetime(pattern="cccc dd MMMM Y", locale=app.request.locale) }}</small></li>
            {% endif %}

            {% set fieldExist = entity.createdAt is defined and entity.createdAt %}
            {% if property == 'createdAt' and fieldExist or property == 'infos' and fieldExist %}
                <li><small><b class="font-weight-600">{{ "Créé le :"|trans }}</b> {{ entity.createdAt|format_datetime(pattern="cccc dd MMMM Y 'à' HH:mm", locale=app.request.locale) }}</small></li>
            {% endif %}

            {% set fieldExist = entity.createdBy is defined and entity.createdBy %}
            {% if property == 'createdBy' and fieldExist or property == 'infos' and fieldExist %}
                <li>
                    <small>
                        <b class="font-weight-600">{{ "Créé par :"|trans }}</b>
                        {% if entity.createdBy.firstName %}{{ entity.createdBy.firstName }} {% endif %}
                        {% if entity.createdBy.lastName %}{{ entity.createdBy.lastName }} {% endif %}
                        {% if entity.createdBy.login and entity.createdBy.login != 'webmaster' %}({{ entity.createdBy.login }}){% endif %}
                    </small>
                </li>
            {% endif %}

            {% set fieldExist = entity.updatedAt is defined and entity.updatedAt %}
            {% if property == 'updatedAt' and fieldExist or property == 'infos' and fieldExist %}
                <li><small><b class="font-weight-600">{{ "Modifié le :"|trans }}</b> {{ entity.updatedAt|format_datetime(pattern="cccc dd MMMM Y 'à' HH:mm", locale=app.request.locale) }}</small></li>
            {% endif %}

            {% set fieldExist = entity.updatedBy is defined and entity.updatedBy %}
            {% if property == 'updatedBy' and fieldExist or property == 'infos' and fieldExist %}
                <li>
                    <small>
                        <b class="font-weight-600">{{ "Modifié par :"|trans }}</b>
                        {% if entity.updatedBy.firstName %}{{ entity.updatedBy.firstName }} {% endif %}
                        {% if entity.updatedBy.lastName %}{{ entity.updatedBy.lastName }} {% endif %}
                        {% if entity.updatedBy.login and entity.updatedBy.login != 'webmaster' %}({{ entity.updatedBy.login }}){% endif %}
                    </small>
                </li>
            {% endif %}

            {% set fieldExist = entity.locale is defined and entity.locale %}
            {% if property == 'locale' and fieldExist or property == 'infos' and fieldExist %}
                <li>
                    <small>
                        <b class="font-weight-600 me-1">{{ "Langue :"|trans }}</b>
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-src="{{ asset('/medias/icons/flags/'~entity.locale~'.svg') }}"
                             class="img-fluid lazy-load me-1" height="9" width="12">{{ entity.locale|languageName }}
                    </small>
                </li>
            {% endif %}

            {% set fieldExist = entity.lastLogin is defined and entity.lastLogin %}
            {% if property == 'lastLogin' and fieldExist or property == 'infos' and fieldExist %}
                <li><small><b class="font-weight-600">{{ "Dernière connexion :"|trans }}</b> {{ entity.lastLogin|ago }}</small></li>
            {% endif %}

        {% endif %}

    {% endfor %}

</ul>