{% trans_default_domain 'admin' %}

{{ form_start(form, {attr: {
    novalidate: "novalidate",
    action: path('admin_securitygroup_password', {website: websiteId(), securitygroup: entity.id}),
    id: 'password-form-'~entity.id
}}) }}
    <div id="password-form-{{ interface.name }}-card" class="card user-password-card">
        {% include 'admin/core/form/save/header.html.twig' %}
        <div class="card-body pb-0 ajax-content">
            <h4 class="card-subtitle mb-3">{{ 'fal unlock-alt'|icon(null, 18, 'info-darken me-2') }}{{ "Modification des mots de passe des utilisateurs du groupe"|trans }}</h4>
            {% include 'admin/include/alert.html.twig' with {alert: 'info', display: 'alert', message: "Le mot de passe doit comporter au moins 8 caractères, contenir au moins un chiffre, une majuscule et une minuscule."|trans} only %}
            <div class="row">
                {% include 'admin/core/form/edit-fields-base.html.twig' with {
                    form: form,
                    entity: entity,
                    classname: interface.classname
                } only %}
            </div>
            <div id="password-generator-result" class="btn-copy btn btn-dark w-100 text-center refer-copy mb-4 position-relative d-none cursor">
                <div class="to-copy"></div>
                <div class="copy-link position-absolute" data-bs-toggle="tooltip" data-title="{{ "Copier"|trans }}">
                    <div class="inner h-100">{{ 'far copy'|icon(null, 14, 'dark') }}</div>
                </div>
            </div>
            {% include 'admin/include/flashbag.html.twig' %}
        </div>
        {% include 'admin/core/form/save/footer.html.twig' %}
    </div>
{{ form_end(form) }}